/*article-page*/

.article {
    h1{
      

        &.title-icon{
            max-width: 1046px;
            padding: 0 12px;
            margin: 90px auto 54px;
        }
    }
    .post-item{
        max-width: 1350px;
        background: #FFFFFF;
        border-radius: 24px;
        padding: 60px 115px;
        .repost{
            margin-top: 96px;
        }
    }

    ul,ol {   
        margin: 24px 0 36px;
        li {
            display: flex;
            margin-bottom: 12px;
        }
    }
    .news-home {
        padding: 0;
        margin: 120px auto 96px;
    }
    .project-slider {
        padding-top: 0;
        padding-bottom: 0;
        margin: 96px auto 203px;
    }
}

.post-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
    flex-wrap: wrap;
    &__prev,
    &__next {
        max-width: 340px;
        font-weight: 400;
        line-height: 1.4;
    }

    &__prev {
        padding-left: 50px;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='16' viewBox='0 0 30 16' fill='none'%3E%3Cpath d='M1.10061 10.6124L5.93811 15.4999C6.05431 15.617 6.19256 15.71 6.34489 15.7735C6.49721 15.8369 6.66059 15.8696 6.82561 15.8696C6.99062 15.8696 7.154 15.8369 7.30633 15.7735C7.45865 15.71 7.5969 15.617 7.71311 15.4999C7.83027 15.3837 7.92326 15.2454 7.98672 15.0931C8.05018 14.9408 8.08285 14.7774 8.08285 14.6124C8.08285 14.4474 8.05018 14.284 7.98672 14.1317C7.92326 13.9793 7.83027 13.8411 7.71311 13.7249L3.26311 9.24987H28.7506C29.0821 9.24987 29.4001 9.11818 29.6345 8.88376C29.8689 8.64934 30.0006 8.3314 30.0006 7.99987C30.0006 7.66835 29.8689 7.35041 29.6345 7.11599C29.4001 6.88157 29.0821 6.74987 28.7506 6.74987H3.18811L7.71311 2.22487C7.93472 1.9924 8.05835 1.68355 8.05835 1.36237C8.05835 1.0412 7.93472 0.732345 7.71311 0.499875C7.5969 0.382714 7.45865 0.289721 7.30633 0.22626C7.154 0.162799 6.99062 0.130127 6.82561 0.130127C6.66059 0.130127 6.49721 0.162799 6.34489 0.22626C6.19256 0.289721 6.05431 0.382714 5.93811 0.499875L1.10061 5.31238C0.398354 6.0155 0.00390625 6.96862 0.00390625 7.96238C0.00390625 8.95613 0.398354 9.90925 1.10061 10.6124V10.6124Z' fill='%233943BC'/%3E%3C/svg%3E") left center no-repeat;
    }
    
    &__next {
        padding-right: 50px;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='16' viewBox='0 0 30 16' fill='none'%3E%3Cpath d='M28.9 5.38737L24.0625 0.499875C23.9463 0.382714 23.808 0.289721 23.6557 0.22626C23.5034 0.162799 23.34 0.130127 23.175 0.130127C23.01 0.130127 22.8466 0.162799 22.6943 0.22626C22.542 0.289721 22.4037 0.382714 22.2875 0.499875V0.499875C22.0547 0.734078 21.924 1.05089 21.924 1.38112C21.924 1.71136 22.0547 2.02817 22.2875 2.26237L26.7375 6.74987H1.25C0.918479 6.74987 0.600537 6.88157 0.366117 7.11599C0.131696 7.35041 0 7.66835 0 7.99987H0C0 8.3314 0.131696 8.64934 0.366117 8.88376C0.600537 9.11818 0.918479 9.24987 1.25 9.24987H26.8125L22.2875 13.7624C22.1703 13.8786 22.0773 14.0168 22.0139 14.1692C21.9504 14.3215 21.9178 14.4849 21.9178 14.6499C21.9178 14.8149 21.9504 14.9783 22.0139 15.1306C22.0773 15.2829 22.1703 15.4212 22.2875 15.5374C22.4037 15.6545 22.542 15.7475 22.6943 15.811C22.8466 15.8745 23.01 15.9071 23.175 15.9071C23.34 15.9071 23.5034 15.8745 23.6557 15.811C23.808 15.7475 23.9463 15.6545 24.0625 15.5374L28.9 10.6874C29.6023 9.98425 29.9967 9.03113 29.9967 8.03737C29.9967 7.04362 29.6023 6.0905 28.9 5.38737V5.38737Z' fill='%233943BC'/%3E%3C/svg%3E") right center no-repeat;
        text-align: right;
    }
}
/**/


.table-container{
    overflow: auto;
    margin-bottom: 45px;
    @extend .scroll-x;
}
 
 
 
.table {

    thead {
        th{
            font-family: $font-secondary;
        }
        tr {
            border-bottom: 2px solid $primary-color;
        }   
    } 
    
    tr {
        border-bottom: 1px solid #CBD0DA;
        &:last-child {
            border-bottom: 2px solid $primary-color;
        }
    }

    td {
        padding: 17px 20px;
        color: #5C5F65;
        vertical-align: middle;
    }
    
    th {
        padding: 32px 20px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        align-items: center;
        color: #0B305D;
    }

    td, th {
        text-align: center;
         line-height: 1.2;
         white-space: nowrap;
        &:first-child {
            text-align: left;
            min-width: 180px;
            white-space: break-spaces;
        }
    }
} 


