/*home*/

/*home/first-screen*/
.home-top {
    position: relative;
    background-size: cover;
    background-position: center -168px;
    >* {
        position: relative;
    }
 

    &__slider {
        p {
            color: #CBD0DA;
        }

        .btn {
            margin-top: 20px;
        }

        &-item {}

        &-title {
            font-size: 54px;
            line-height: 60px;
            color: #ffffff;
            margin-bottom: 20px;
            font-family: $font-secondary; 

            &-mob {
                display: none;
            }
        }

        .row-slider {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 100px 0px 60px;
        }

        &-img {
            width: 660px;

            img {
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }

        &-text {
            max-width: 560px;
        }
    }

    &__benefits {
        padding: 60px 0;
        background-color: $primary-color;
        @include custom-decorate-r;
       
        .row-custom {
            justify-content: space-between;
        }

        &-item {
            color: #F5F2EA;
            font-size: 18px;
            display: flex;
            align-items: center;
            max-width: 270px;
            font-family: $font-secondary;
            
            svg, img {
                margin-right: 20px;
                min-width: 30px;
            }
            

            ul {
                display: flex;
                margin: 0;

                svg {
                    margin: 0;
                }

                li:before {
                    display: none;
                }

                li+li {
                    margin-left: 45px;
                }

                a {
                    &:hover {
                        svg {
                            fill: #5864F9;
                        }
                    }
                }
            }
        }

        a:hover {
            svg {
                path {
                    fill: #5864F9;
                }
            }
        }
    }

    .slick-prev,
    .slick-next {
        width: 43px;
        height: 37px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transition: all 0.2s;

        &:before {
            display: none;
        }
    }

    .slick-prev {
        left: -80px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='34' viewBox='0 0 44 34' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.3258 0.674175C19.0581 1.40641 19.0581 2.59359 18.3258 3.32583L6.52665 15.125H42C43.0355 15.125 43.875 15.9645 43.875 17C43.875 18.0355 43.0355 18.875 42 18.875H6.52665L18.3258 30.6742C19.0581 31.4064 19.0581 32.5936 18.3258 33.3258C17.5936 34.0581 16.4064 34.0581 15.6742 33.3258L0.674175 18.3258C-0.0580583 17.5936 -0.0580583 16.4064 0.674175 15.6742L15.6742 0.674175C16.4064 -0.0580583 17.5936 -0.0580583 18.3258 0.674175Z' fill='%23CBD0DA'/%3E%3C/svg%3E");

        &:hover {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='34' viewBox='0 0 44 34' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.3258 0.674175C19.0581 1.40641 19.0581 2.59359 18.3258 3.32583L6.52665 15.125H42C43.0355 15.125 43.875 15.9645 43.875 17C43.875 18.0355 43.0355 18.875 42 18.875H6.52665L18.3258 30.6742C19.0581 31.4064 19.0581 32.5936 18.3258 33.3258C17.5936 34.0581 16.4064 34.0581 15.6742 33.3258L0.674175 18.3258C-0.0580583 17.5936 -0.0580583 16.4064 0.674175 15.6742L15.6742 0.674175C16.4064 -0.0580583 17.5936 -0.0580583 18.3258 0.674175Z' fill='%23FFDC55'/%3E%3C/svg%3E");
        }
    }

    .slick-next {
        right: -80px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='34' viewBox='0 0 44 34' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.6742 0.674175C26.4064 -0.0580583 27.5936 -0.0580583 28.3258 0.674175L43.3258 15.6742C44.0581 16.4064 44.0581 17.5936 43.3258 18.3258L28.3258 33.3258C27.5936 34.0581 26.4064 34.0581 25.6742 33.3258C24.9419 32.5936 24.9419 31.4064 25.6742 30.6742L37.4734 18.875H2C0.964466 18.875 0.125 18.0355 0.125 17C0.125 15.9645 0.964466 15.125 2 15.125H37.4734L25.6742 3.32583C24.9419 2.59359 24.9419 1.40641 25.6742 0.674175Z' fill='%23CBD0DA'/%3E%3C/svg%3E");
        &:hover {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='34' viewBox='0 0 44 34' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.6742 0.674175C26.4064 -0.0580583 27.5936 -0.0580583 28.3258 0.674175L43.3258 15.6742C44.0581 16.4064 44.0581 17.5936 43.3258 18.3258L28.3258 33.3258C27.5936 34.0581 26.4064 34.0581 25.6742 33.3258C24.9419 32.5936 24.9419 31.4064 25.6742 30.6742L37.4734 18.875H2C0.964466 18.875 0.125 18.0355 0.125 17C0.125 15.9645 0.964466 15.125 2 15.125H37.4734L25.6742 3.32583C24.9419 2.59359 24.9419 1.40641 25.6742 0.674175Z' fill='%23FFDC55'/%3E%3C/svg%3E");
        }
    }
}

.block {
    padding: 0;
    .wrapper {
        max-width: 100%;
    }
}

.news-home {
    padding: 100px 0px;

    .title-icon {
        margin-bottom: 60px;
    }

    .btn {
        margin: 60px auto 0px;
    }
}

