.project-info {
    margin-bottom: 63px;

    .wrapper {
        display: flex;
    }

    &__img {
        max-width: 745px;
        width: 100%;
        img {
            border-radius: 6px;
        }
    }

    &__options {
        min-width: 546px;
        width: 546px;
        margin-left: 60px;

        &-top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 33px;
        }

        &-title {
            display: flex;
            flex-direction: row-reverse;

            h1 {
                font-weight: 600;
                font-size: 32px;
                line-height: 1.31;
                color: #171D32;
                padding-left: 45px;
            }
        }

        .progress {
            transform: scale(1.4167);
            margin: auto 0 auto auto;
            position: relative;
            left: 11px;
            font-family: $font-secondary;
        }

        .item-project__wrap-sum {
            margin-bottom: 42px;
            
            >div {
                width: 50%;
                padding: 25px 20px;

                b {
                    font-size: 18px;
                    color: #171D32;
                    font-family: $font-secondary;
                }

                span {
                    &:first-child {
                        font-size: 14px;
                        line-height: 1.71;
                    }
                }
            }

           
            .item-project__wrap-sum-to,
            .item-project__wrap-joined {
             
                border-left: 3px solid #e5e5e5;
            } 
        }

        .btn {
            padding: 14px 30px;
            min-width: 260px;
            justify-content: center;
        }

        
    }

}

.who-supported-person {
    border-bottom: 1px solid #CBD0DA;
    padding: 24px 0;
    display: flex;

    &__photo {
        width: 84px;
        height: 84px;
        border-radius: 50%;
        box-shadow: 0px 0px 6px #0b305d33;
        border: 10px solid #fff;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        img {
            border-radius: 50%;

            &[src=""] {
                display: none;
            }
        }
    }

    &__name {
        font-family: 'Inter';
        font-weight: 600;
        font-size: 18px;
        line-height: 1.33;
    }

    &__date {
        font-size: 16px;
        line-height: 1.5;
        color: #B1AFBE;
    }

    &__amount {
        display: flex;
        justify-content: flex-end;
        font-family: 'Inter';
        font-weight: 600;
        font-size: 20px;
        line-height: 1.33;
        display: flex;
        align-items: center;
        text-align: right;
        margin-left: auto;
        color: #0B305D;
    }

    .column {
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding-left: 30px;
    }

    &.anonymous,
    &.no-photo {
        .who-supported-person__photo {
            background-color: $primary-color;
            color: #fff;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 1.31;
        }
    }
}

.project-tab {
    margin-bottom: 120px;

    .wp-pagenavi {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 42px auto 0;
    } 
}

.item-project__info-wrap {
    display: flex;
    flex-direction: column;
}

