@media screen and (max-width: 991px) {
    .breadcrumb {
        padding: 30px 15px 30px 0;
        margin: 0;
    }

    section {
        .title-icon {
            margin-bottom: 36px;
            font-size: 28px;
        }
    }

    h1.title-icon {
        font-size: 24px;
        margin-bottom: 27px;
    }


    .header__menu-wrap {
        >nav {
            >ul {
                >li {
                    >a {
                        color: $secondary-color;
                    }
                }
            }
        }
    }

    .projects-filters {
        .col-lg-3 {
            margin-bottom: 24px;
        }

    }

    .wp-pagenavi {
        margin: 42px auto 51px;
    }

    .template-grid {

        // padding: 0 9px;
        .wrapper {
            padding-left: 9px;
            padding-right: 9px;
        }
    }

    .project-info {

        .wrapper {
            flex-direction: column;
        }

        &__img {
            margin-bottom: 22px;
        }

        &__options {
            width: 100%;
            min-width: auto;
            margin: 0 auto;

            &-top {
                display: flex;
                justify-content: space-between;
                margin-bottom: 33px;
                font-size: 14px;
            }

            &-title {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                h1 {
                    font-size: 24px;
                    padding: 0;
                }
            }

            .progress {
                transform: scale(1.6);
                width: 60px;
                margin: 30px 0 0 0;
                position: relative;
                right: inherit;
            }

            .item-project__wrap-sum {
                margin: 42px 0;
                flex-wrap: wrap;

                >div {
                    width: 50%;
                    padding: 10px 20px;
                }

                .item-project__wrap-joined {
                    width: 100%;
                    border: none;
                    border-top: 3px solid #e5e5e5;
                    display: flex;
                    justify-content: space-between;
                    padding: 20px;
                }
            }

            .btn {
                margin: 0 auto;
            }
        }
    }

    .project-tab {
        .card-body {
            padding: 24px 15px;
        }

        .repost {
            margin-top: 36px;

        }
    }

    .repost {
        flex-direction: column;

        .nav-socials {
            margin: 12px auto 12px;

            a {
                margin-left: 7px;
            }
        }
    }


    .partner {
        padding: 42px 0 54px;
        background: url(assets/img/custom-decorate.svg) calc(100% - 60px) center no-repeat repeat $primary-color;
    }

    .reviews-list {
        margin: 84px auto;

        .item-partner-coment {
            margin-bottom: 84px;
        }

        +.wp-pagenavi {
            margin: -50px auto 84px;
        }
    }

    .item-partner-coment__img {
        width: 60px;
        height: 60px;
        border: none;
    }

    .article {
        .post-item {
            .repost {
                margin-top: 64px;
            }
        }

        .slider-def.slider-def-three-el {
            padding-bottom: 0;
        }

        .news-home {
            margin: 25px auto 46px;
        }

        .project-slider {
            margin: 60px auto;
        }
    }

    .post-navigation {
        justify-content: center;
        margin: 48px auto 84px;

        .post-navigation__prev {
            margin-bottom: 12px;
        }
    }

    .who-supported-person {
        flex-direction: column;
        align-items: center;

        .column {
            padding: 0;
        }

        &__photo {
            margin-bottom: 12px;
        }

        &__amount {
            margin: 18px auto;
        }

        &__date {
            font-size: 14px;
            text-align: center;
        }
    }

    .document-item {
        flex-direction: column;

        &__title {
            margin-bottom: 18px;
        }
    }

    .wrapper.responsive-tabs {
        padding: 0;
    }


    .tab-pane {
        &.card {
            border-radius: 0;
            border: none
        }

        .card-header {
            padding: 0;
            border-radius: 0;
            border: none;
            background: #edf1f4;

            a {
                position: relative;
                padding: 29px 15px;
                border-bottom: 1px solid #CBD0DA;

                &:before {
                    content: "";
                    position: absolute;
                    width: 24px;
                    height: 24px;
                    top: 50%;
                    right: 15px;
                    background-position: center;
                    background-repeat: no-repeat;
                    transform: translate(-50%, -50%);
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='9' viewBox='0 0 14 9' fill='none'%3E%3Cpath d='M13.7098 1.2101C13.6169 1.11638 13.5063 1.04198 13.3844 0.991213C13.2625 0.940445 13.1318 0.914307 12.9998 0.914307C12.8678 0.914307 12.7371 0.940445 12.6152 0.991213C12.4934 1.04198 12.3828 1.11638 12.2898 1.2101L7.70982 5.7901C7.61685 5.88382 7.50625 5.95822 7.38439 6.00899C7.26253 6.05975 7.13183 6.08589 6.99982 6.08589C6.86781 6.08589 6.7371 6.05975 6.61524 6.00899C6.49338 5.95822 6.38278 5.88382 6.28982 5.7901L1.70982 1.2101C1.61685 1.11638 1.50625 1.04198 1.38439 0.991213C1.26253 0.940445 1.13183 0.914307 0.999816 0.914307C0.867804 0.914307 0.737098 0.940445 0.615239 0.991213C0.49338 1.04198 0.382779 1.11638 0.289816 1.2101C0.103565 1.39747 -0.000976562 1.65092 -0.000976562 1.9151C-0.000976562 2.17929 0.103565 2.43274 0.289816 2.6201L4.87982 7.21009C5.44232 7.77189 6.20481 8.08745 6.99982 8.08745C7.79482 8.08745 8.55732 7.77189 9.11982 7.21009L13.7098 2.6201C13.8961 2.43274 14.0006 2.17929 14.0006 1.9151C14.0006 1.65092 13.8961 1.39747 13.7098 1.2101Z' fill='%233943BC'/%3E%3C/svg%3E");
                    transition: .3s;
                }

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%, 0);
                    width: 0;
                    height: 3px;
                    background-color: #005BBB;
                    transition: .3s;
                }

                &[data-bs-toggle="collapse"] {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 24px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: #5C5F65;
                    text-decoration: none;
                }

                &[aria-expanded="true"] {
                    color: #005BBB;

                    &:before {
                        transform: rotate(180deg) translate(50%, 50%);
                    }

                    &::after {

                        width: 100%;

                        background-color: #005BBB;
                        transition: .3s;
                    }
                }

                &:hover {
                    color: #005BBB;

                    &:before {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='9' viewBox='0 0 14 9' fill='none'%3E%3Cpath d='M13.7098 1.2101C13.6169 1.11638 13.5063 1.04198 13.3844 0.991213C13.2625 0.940445 13.1318 0.914307 12.9998 0.914307C12.8678 0.914307 12.7371 0.940445 12.6152 0.991213C12.4934 1.04198 12.3828 1.11638 12.2898 1.2101L7.70982 5.7901C7.61685 5.88382 7.50625 5.95822 7.38439 6.00899C7.26253 6.05975 7.13183 6.08589 6.99982 6.08589C6.86781 6.08589 6.7371 6.05975 6.61524 6.00899C6.49338 5.95822 6.38278 5.88382 6.28982 5.7901L1.70982 1.2101C1.61685 1.11638 1.50625 1.04198 1.38439 0.991213C1.26253 0.940445 1.13183 0.914307 0.999816 0.914307C0.867804 0.914307 0.737098 0.940445 0.615239 0.991213C0.49338 1.04198 0.382779 1.11638 0.289816 1.2101C0.103565 1.39747 -0.000976562 1.65092 -0.000976562 1.9151C-0.000976562 2.17929 0.103565 2.43274 0.289816 2.6201L4.87982 7.21009C5.44232 7.77189 6.20481 8.08745 6.99982 8.08745C7.79482 8.08745 8.55732 7.77189 9.11982 7.21009L13.7098 2.6201C13.8961 2.43274 14.0006 2.17929 14.0006 1.9151C14.0006 1.65092 13.8961 1.39747 13.7098 1.2101Z' fill='%23005BBB'/%3E%3C/svg%3E");
                    }
                }
            }
        }
    }

    .template-grid {
        .item-project {
            max-width: 430px;
            margin: 0 auto 60px !important;
        }
    }

    .article {
        h1.title-icon {
            max-width: 685px;
            padding: 0 12px;
            margin: 48px auto 36px;
        }

        .post-item {
            padding: 36px 72px 60px;
        }

    }

    .attention {
        h5 {
            padding-left: 36px;
        }
    }

    .actions-page {

        .item-project__title {

            img {
                margin-right: 15px;
                max-width: 30px;
            }
        }
    }

    .interest-actions {
        margin: 72px auto -12px;
    }

    .template-grid {

        .item-action {
            margin: 0 auto 24px !important;
        }
    }

    .about-page {
        .first-screen {
            margin-top: -105px;
            padding-top: 105px;
            padding-bottom: 24px;
            margin-bottom: 0;
            min-height: auto;

            h1 {
                font-size: 32px;
                margin-bottom: 22px;
            }

            p {
                font-size: 16px;
            }
        }
    }

    .first-screen__logo {
        display: none;
    }


    .about-page {
        .first-screen {
            +.wrapper {
                .post-item {
                    padding-top: 16px;
                }
            }
        }

        .about {
            min-height: auto;
            padding: 115px 0px 78px;
            margin: 0 auto;
            background-position: center -250px;
        }
    }

    .value-item {
        margin: 0 auto 36px;
    }

    .img-grid {
        margin: 36px auto;
    }

    .accordion-container {
        margin-bottom: 72px;
    }


    .accordion-title {
        font-size: 18px;
    }

    .accordion-button {
        font-size: 16px;
        padding: 12px 15px;
        min-height: 72px;
    }

    .accordion-body {
        padding: 0 15px 16px;
    }

    .form-questions {
        margin-bottom: 33px;

        .title-icon {
            margin-bottom: 30px;
            font-size: 24px;
        }
    }

    .form {
        background: url(assets/img/custom-decorate.svg) calc(100% - 60px) center no-repeat repeat $primary-color;
    }

    .contact-row {
        margin: 36px auto 60px;

        .contacts {
            margin-bottom: 60px;
        }
    }

    .contact-item {
        margin-bottom: 28px;
    }

    .slider-partner.slider-def{
        .slick-dots {
            position: static;
            margin-bottom: 33px;
        }
    } 

    .slider-partner.slider-def .slick-list {
        margin-bottom: 40px;
    }

    .block-black {
        h2 {
           font-weight: 500;
           font-size: 36px;
           margin-bottom: 18px;
       }
       
       p {
        font-size: 16px;
       }
    }

    .form .title-descr {
        font-size: 16px;
    }


    .projects-filters {
        background: url(assets/img/custom-decorate.svg) calc(100% - 60px) center no-repeat repeat #3943BC;
    }

    .seo-text {
        margin: 55px 0;
    }

}
