 
<div class="img-grid">
    <div class="img-grid__row">
        <div class="img-grid__img" style="background-image: url(assets/img/about-page-8.png);"></div>
        <div class="img-grid__img" style="background-image: url(assets/img/about-page-2.png);"></div>
        <div class="img-grid__img" style="background-image: url(assets/img/about-page-3.png);"></div>
        <div class="img-grid__img" style="background-image: url(assets/img/about-page-4.png);"></div>
        <div class="img-grid__img" style="background-image: url(assets/img/about-page-5.png);"></div>
        <div class="img-grid__img" style="background-image: url(assets/img/about-page-6.png);"></div>
    </div>
</div>
 