<section class="interest-actions">
    <h2 class="title-icon">
           
        <span>Вас може зацікавити</span>
    </h2>
    <div class="template-grid">
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-6">
                    <div class="item-action">
                        <a href="action-item.html" class="item-project__img">
                            <img src="./assets/img/action-item-1.png" alt="">
                        </a>
                        <div class="item-project__info-wrap">
                            <div class="item-project__title">
                                <div class="action-icon">
                                    <img src="assets/img/icon-food.svg" class="img-fluid" alt="icon-food">
                                </div>
                                <a href="action-item.html">Проект «Допомога» — пакет базових продуктів для пенсіонерів</a>
                            </div>
                            <div class="item-project__descr">
                                Фонд «Перша Зірка» дає можливість оплатити набір базових продуктів вартістю 225 грн, який доставлять пенсіонерам вашого міста
                            </div>
                            <div class="item-project__date">
                                <span>3 травня — 24 серпня 2022</span>
                                <a href="action-item.html" class="action-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="item-action">
                        <a href="action-item.html" class="item-project__img">
                            <img src="./assets/img/action-item-2.png" alt="">
                        </a>
                        <div class="item-project__info-wrap">
                            <div class="item-project__title">
                                <div class="action-icon">
                                    <img src="assets/img/icon-clothes.svg" class="img-fluid" alt="icon-clothes">
                                </div>
                                <a href="action-item.html">Акція «Благодійна шафа»</a> 
                            </div>
                            <div class="item-project__descr">
                                Фонд «Перша Зірка» дає можливість оплатити набір базових продуктів вартістю 225 грн, який доставлять пенсіонерам вашого міста
                            </div>
                            <div class="item-project__date">
                                <span>3 травня — 24 серпня 2022</span>
                                <a href="action-item.html" class="action-link"></a>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>  
    </div>
</section>