<div class="template-grid">
    <div class="wrapper">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="item-project">
                    <a href="project-item.html" class="item-project__img">
                        <img src="./assets/img/proj-item-1.png" alt="">
                    </a>
                    <div class="item-project__info-wrap">
                        <div class="item-project__title">
                            <a href="project-item.html">Збір коштів на прихисток для біжинців на Вінничині</a>
                            <div class="progress">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" height="60" width="60" data-value="1">
                                    <circle class="bg" cx="30" cy="30" r="25" fill="none" stroke="#EDF1F4" stroke-miterlimit="10" />
                                    <circle class="meter" cx="30" cy="30" r="25" fill="none" stroke="#FFD018" stroke-dashoffset="157" stroke-dasharray="157" stroke-miterlimit="10" />
                                </svg>
                            </div>
                        </div>
                        <div class="item-project__wrap-sum">
                            <div class="item-project__wrap-sum-from">
                                <span>Мета:</span>
                                <span>850 000 грн</span>
                            </div>
                            <div class="item-project__wrap-sum-to">
                                <span>Зібрано:</span>
                                <b>0 грн</b>
                            </div>
                        </div>
                        <div class="item-project__date">
                            <span>0 долучилися</span>
                            <span>Серпень – вересень 2022</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="item-project">
                    <a href="project-item.html" class="item-project__img">
                        <img src="./assets/img/proj-item-2.png" alt="">
                    </a>
                    <div class="item-project__info-wrap">
                        <div class="item-project__title">
                            <a href="project-item.html">Допомога захисникам та захисницям України</a>
                            <div class="progress">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" height="60" width="60" data-value="75">
                                    <circle class="bg" cx="30" cy="30" r="25" fill="none" stroke="#EDF1F4" stroke-miterlimit="10" />
                                    <circle class="meter" cx="30" cy="30" r="25" fill="none" stroke="#FFD018" stroke-dashoffset="157" stroke-dasharray="157" stroke-miterlimit="10" />
                                </svg>
                            </div>
                        </div>
                        <div class="item-project__wrap-sum">
                            <div class="item-project__wrap-sum-from">
                                <span>Мета:</span>
                                <span>850 000 грн</span>
                            </div>
                            <div class="item-project__wrap-sum-to">
                                <span>Зібрано:</span>
                                <b>0 грн</b>
                            </div>
                        </div>
                        <div class="item-project__date">
                            <span>0 долучилися</span>
                            <span class="item-project__date-now">Триває зараз</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="item-project">
                    <a href="project-item.html" class="item-project__img">
                        <img src="./assets/img/proj-item-3.png" alt="">
                    </a>
                    <div class="item-project__info-wrap">
                        <div class="item-project__title">
                            <a href="project-item.html">Допомога притулкам для домашніх тварин</a>
                            <div class="progress">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" height="60" width="60" data-value="55">
                                    <circle class="bg" cx="30" cy="30" r="25" fill="none" stroke="#EDF1F4" stroke-miterlimit="10" />
                                    <circle class="meter" cx="30" cy="30" r="25" fill="none" stroke="#FFD018" stroke-dashoffset="157" stroke-dasharray="157" stroke-miterlimit="10" />
                                </svg>
                            </div>
                        </div>
                        <div class="item-project__wrap-sum">
                            <div class="item-project__wrap-sum-from">
                                <span>Мета:</span>
                                <span>850 000 грн</span>
                            </div>
                            <div class="item-project__wrap-sum-to">
                                <span>Зібрано:</span>
                                <b>0 грн</b>
                            </div>
                        </div>
                        <div class="item-project__date">
                            <span>0 долучилися</span>
                            <span>Серпень – вересень 2022</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="item-project">
                    <a href="project-item.html" class="item-project__img">
                        <img src="./assets/img/proj-item-4.png" alt="">
                    </a>
                    <div class="item-project__info-wrap">
                        <div class="item-project__title">
                            <a href="project-item.html">Закупка саженців для озеленення центру Вінниці</a>
                            <div class="progress">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" height="60" width="60" data-value="100">
                                    <circle class="bg" cx="30" cy="30" r="25" fill="none" stroke="#EDF1F4" stroke-miterlimit="10" />
                                    <circle class="meter" cx="30" cy="30" r="25" fill="none" stroke="#FFD018" stroke-dashoffset="157" stroke-dasharray="157" stroke-miterlimit="10" />
                                </svg>
                            </div>
                        </div>
                        <div class="item-project__wrap-sum">
                            <div class="item-project__wrap-sum-from">
                                <span>Мета:</span>
                                <span>850 000 грн</span>
                            </div>
                            <div class="item-project__wrap-sum-to">
                                <span>Зібрано:</span>
                                <b>0 грн</b>
                            </div>
                        </div>
                        <div class="item-project__date">
                            <span>0 долучилися</span>
                            <span class="item-project__date-now">Триває зараз</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="item-project">
                    <a href="project-item.html" class="item-project__img">
                        <img src="./assets/img/proj-item-5.png" alt="">
                    </a>
                    <div class="item-project__info-wrap">
                        <div class="item-project__title">
                            <a href="project-item.html">Допомога притулку для хворих на діабет</a>
                            <div class="progress">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" height="60" width="60" data-value="0">
                                    <circle class="bg" cx="30" cy="30" r="25" fill="none" stroke="#EDF1F4" stroke-miterlimit="10" />
                                    <circle class="meter" cx="30" cy="30" r="25" fill="none" stroke="#FFD018" stroke-dashoffset="157" stroke-dasharray="157" stroke-miterlimit="10" />
                                </svg>
                            </div>
                        </div>
                        <div class="item-project__wrap-sum">
                            <div class="item-project__wrap-sum-from">
                                <span>Мета:</span>
                                <span>850 000 грн</span>
                            </div>
                            <div class="item-project__wrap-sum-to">
                                <span>Зібрано:</span>
                                <b>0 грн</b>
                            </div>
                        </div>
                        <div class="item-project__date">
                            <span>0 долучилися</span>
                            <span class="item-project__date-last">Завершено</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="item-project">
                    <a href="project-item.html" class="item-project__img">
                        <img src="./assets/img/proj-item-6.png" alt="">
                    </a>
                    <div class="item-project__info-wrap">
                        <div class="item-project__title">
                            <a href="project-item.html">Підтримаємо збройні сили України разом</a>
                            <div class="progress">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" height="60" width="60" data-value="43">
                                    <circle class="bg" cx="30" cy="30" r="25" fill="none" stroke="#EDF1F4" stroke-miterlimit="10" />
                                    <circle class="meter" cx="30" cy="30" r="25" fill="none" stroke="#FFD018" stroke-dashoffset="157" stroke-dasharray="157" stroke-miterlimit="10" />
                                </svg>
                            </div>
                        </div>
                        <div class="item-project__wrap-sum">
                            <div class="item-project__wrap-sum-from">
                                <span>Мета:</span>
                                <span>850 000 грн</span>
                            </div>
                            <div class="item-project__wrap-sum-to">
                                <span>Зібрано:</span>
                                <b>0 грн</b>
                            </div>
                        </div>
                        <div class="item-project__date">
                            <span>0 долучилися</span>
                            <span class="item-project__date-last">Завершено</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="item-project">
                    <a href="project-item.html" class="item-project__img">
                        <img src="./assets/img/proj-item-7.png" alt="">
                    </a>
                    <div class="item-project__info-wrap">
                        <div class="item-project__title">
                            <a href="project-item.html">Збір коштів на польовий шпиталь у Дніпрі</a>
                            <div class="progress">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" height="60" width="60" data-value="91">
                                    <circle class="bg" cx="30" cy="30" r="25" fill="none" stroke="#EDF1F4" stroke-miterlimit="10" />
                                    <circle class="meter" cx="30" cy="30" r="25" fill="none" stroke="#FFD018" stroke-dashoffset="157" stroke-dasharray="157" stroke-miterlimit="10" />
                                </svg>
                            </div>
                        </div>
                        <div class="item-project__wrap-sum">
                            <div class="item-project__wrap-sum-from">
                                <span>Мета:</span>
                                <span>850 000 грн</span>
                            </div>
                            <div class="item-project__wrap-sum-to">
                                <span>Зібрано:</span>
                                <b>0 грн</b>
                            </div>
                        </div>
                        <div class="item-project__date">
                            <span>0 долучилися</span>
                            <span>Серпень – вересень 2022</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="item-project">
                    <a href="project-item.html" class="item-project__img">
                        <img src="./assets/img/proj-item-8.png" alt="">
                    </a>
                    <div class="item-project__info-wrap">
                        <div class="item-project__title">
                            <a href="project-item.html">Допомога літнім людям під час вііни</a>
                            <div class="progress">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" height="60" width="60" data-value="98">
                                    <circle class="bg" cx="30" cy="30" r="25" fill="none" stroke="#EDF1F4" stroke-miterlimit="10" />
                                    <circle class="meter" cx="30" cy="30" r="25" fill="none" stroke="#FFD018" stroke-dashoffset="157" stroke-dasharray="157" stroke-miterlimit="10" />
                                </svg>
                            </div>
                        </div>
                        <div class="item-project__wrap-sum">
                            <div class="item-project__wrap-sum-from">
                                <span>Мета:</span>
                                <span>850 000 грн</span>
                            </div>
                            <div class="item-project__wrap-sum-to">
                                <span>Зібрано:</span>
                                <b>0 грн</b>
                            </div>
                        </div>
                        <div class="item-project__date">
                            <span>0 долучилися</span>
                            <span>Серпень – вересень 2022</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="item-project">
                    <a href="project-item.html" class="item-project__img">
                        <img src="./assets/img/proj-item-9.png" alt="">
                    </a>
                    <div class="item-project__info-wrap">
                        <div class="item-project__title">
                            <a href="project-item.html">Інструменти та обладнання на потреби ДСНС</a>
                            <div class="progress">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" height="60" width="60" data-value="25">
                                    <circle class="bg" cx="30" cy="30" r="25" fill="none" stroke="#EDF1F4" stroke-miterlimit="10" />
                                    <circle class="meter" cx="30" cy="30" r="25" fill="none" stroke="#FFD018" stroke-dashoffset="157" stroke-dasharray="157" stroke-miterlimit="10" />
                                </svg>
                            </div>
                        </div>
                        <div class="item-project__wrap-sum">
                            <div class="item-project__wrap-sum-from">
                                <span>Мета:</span>
                                <span>850 000 грн</span>
                            </div>
                            <div class="item-project__wrap-sum-to">
                                <span>Зібрано:</span>
                                <b>0 грн</b>
                            </div>
                        </div>
                        <div class="item-project__date">
                            <span>0 долучилися</span>
                            <span class="item-project__date-now">Триває зараз</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
