<section class="seo-text">
    <div class="wrapper">
        <div class="scroll">
            <h5>Благодійний фонд «Перша Зірка» — об’єднуємо людей в ім’я добра</h5>
            <p>
                Котивсь зеленими царинками, маленький і білий, наче банька кульбаби,
                безстрашно забирався у темний ліс, де гаджуги кивали над ним
                галузками, як ведмідь лабами. Звідси дивився на гори, близькі й далекі
                верхи, що голубіли на небі, на смерекові чорні ліси з їх синім
                диханням, на ясну зелень царинок, що, мов дзеркала, блищали в рамах
                дерев. Під ним, в долині, кипів холодний Черемош. По далеких горбах
                дрімали на сонці самотні оселі. Були так тихо і сумно, чорні смереки
                безперестанку спускали сум свій в Черемош, а він ніс його долом й
                оповідав. Вище, по безводних далеких недеях, нявки розводять свої
                безконечні танки, а по скелях ховається щезник.
            </p>
            <p>
                Котивсь зеленими царинками, маленький і білий, наче банька кульбаби,
                безстрашно забирався у темний ліс, де гаджуги кивали над ним
                галузками, як ведмідь лабами. Звідси дивився на гори, близькі й далекі
                верхи, що голубіли на небі, на смерекові чорні ліси з їх синім
                диханням, на ясну зелень царинок, що, мов дзеркала, блищали в рамах
                дерев. Під ним, в долині, кипів холодний Черемош. По далеких горбах
                дрімали на сонці самотні оселі. Були так тихо і сумно, чорні смереки
                безперестанку спускали сум свій в Черемош, а він ніс його долом й
                оповідав. Вище, по безводних далеких недеях, нявки розводять свої
                безконечні танки, а по скелях ховається щезник.
            </p>
        </div>
    </div>
</section>