<div class="who-supported">
    <div class="who-supported-person">
        <div class="who-supported-person__photo">
            <img src="assets/img/avatar-sergey.png" class="img-fluid" alt="ava">
        </div>
        <div class="column"> 
            <div class="who-supported-person__name">Сергій Дьомін</div>
            <div class="who-supported-person__date">24 серпня 2022</div>
        </div>
        <div class="who-supported-person__amount">777 777 777 грн</div>
    </div>
    <div class="who-supported-person">
           <div class="who-supported-person__photo">
                <img src="assets/img/avatar-rost.png" class="img-fluid" alt="ava">
            </div>
            <div class="column">
                <div class="who-supported-person__name">Ростислав Суслов</div>
                <div class="who-supported-person__date">9 серпня 2022</div>
            </div>
            <div class="who-supported-person__amount">15 000 00 грн</div>
    </div>
    <div class="who-supported-person">
        <div class="who-supported-person__photo">
            <img src="" class="img-fluid" alt="ava">
        </div>
        <div class="column"> 
            <div class="who-supported-person__name">Олена Марченко</div>
            <div class="who-supported-person__date">1 серпня 2022</div>
        </div>
        <div class="who-supported-person__amount">150 000 грн</div>
    </div>
    <div class="who-supported-person">
        <div class="who-supported-person__photo">
            <img src="" class="img-fluid" alt="ava">
        </div>
        <div class="column"> 
            <div class="who-supported-person__name">Ігор Верещук</div>
            <div class="who-supported-person__date">1 серпня 2022</div>
        </div>
        <div class="who-supported-person__amount">150 000 грн</div>
    </div>
    <div class="who-supported-person">
        <div class="who-supported-person__photo">
            <img src="" class="img-fluid" alt="ava">
        </div>
        <div class="column"> 
            <div class="who-supported-person__name">Анонімна допомога</div>
            <div class="who-supported-person__date">1 серпня 2022</div>
        </div>
        <div class="who-supported-person__amount">150 000 грн</div>
    </div>
    <div class="who-supported-person">
        <div class="who-supported-person__photo">
            <img src="" class="img-fluid" alt="ava">
        </div>
        <div class="column"> 
            <div class="who-supported-person__name">Анонимная помощь</div>
            <div class="who-supported-person__date">1 серпня 2022</div>
        </div>
        <div class="who-supported-person__amount">150 000 грн</div>
    </div>
</div>