.modal-open .modal {
	padding-right: 0 !important;
}

.modal-dialog {
	display: flex;
	align-items: center;
	// max-width: 890px;
	max-width: 660px;
	min-height: calc(100% - (5rem * 2));
}

.modal-header {
	border: none;
	padding-bottom: 0;
}

.modal-body {
	.nice_Select {
		height: 48px;
		background-color: #ffffff;
		border: 1px solid #e1e1e1;
		border-radius: 4px;
		width: 100%;
		background: url("assets/img/select_close.png") calc(100% - 15px) center
			no-repeat !important;
		&.open {
			background: url("assets/img/select_open.png") calc(100% - 15px) center
				no-repeat #f9f9f9 !important;
		}
		.list {
			width: 100%;
			background: #f9f9f9;
			li.option {
				height: 42px;
				&:before {
					display: none;
				}
				&:hover {
					background-color: #188de7;
					color: #fff;
				}
			}
		}
	}

	.btn-close {
		position: absolute;
		top: 25px;
		right: 15px;
		z-index: 1;
	}
}

.modal-content {
	border: none;
	// padding: 30px 40px;
	padding: 0;
	border-radius: 15px;
	p {
		margin-top: 10px;
	}
}

textarea {
	width: 100%;
	min-height: 170px;
}

input[type="file"] {
	display: none;

	& + label {
		margin-left: 15px;
		cursor: pointer;
		margin: 5px 0 25px 15px;

		img {
			margin-right: 10px;
		}
	}
}

.close {
	position: absolute;
	right: 20px;
	top: 20px;
	outline: none !important;
}

.form-control,
input[type]:not(.btn),
textarea,
select {
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #e1e1e1;
	border-radius: 30px;
	padding: 11px 12px 11px 20px;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	font-size: 16px;
	line-height: 24px;
	width: 100%;
	color: #0b305d;
	height: 54px;
	&:focus {
		// background-color: #f9f9f9;
		border: 1px solid $secondary-color;
		box-shadow: none;
		outline: none;
	}
}

::-webkit-input-placeholder {
	color: $placeholder !important;
}

::-moz-placeholder {
	color: $placeholder !important;
}

:-ms-input-placeholder {
	color: $placeholder !important;
}

input[type="tel"] {
	&::placeholder {
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		color:  $placeholder !important;
	}
}

#ajaxModal,
#support {
	input.btn.btn-secondary {
		margin-left: auto;
		display: flex;
	}
}

.form-subscribe,
.form-callback {
	.modal-header {
		border: none;
		padding-bottom: 0;
		padding: 0;
		height: 0;
	}

	.modal-content {
		margin: 15px;
		padding: 0;
	}

	.modal-body {
		padding: 0;
	}

	div.col-md-6 {
		p.col-md-12 {
			&:first-child {
				margin-top: 80px;
			}
		}
	}
}

.form-callback {
	div.col-md-6 {
		& > .img-fluid {
			height: 100%;
		}
		p.col-md-12 {
			&:first-child {
				margin-top: 45px;
			}
		}
	}
}

.form-one-click {
	.modal-body {
		padding: 0rem 1rem 1rem 1rem;
	}

	.modal-dialog {
		display: flex;
		align-items: center;
		max-width: 530px;
		margin: 0 auto;
		min-height: calc(100% - (5rem * 2));
	}
}

@media screen and (max-width: 767px) {
	.modal-dialog {
		margin: 15px;
	}

	 

	.form-subscribe,
	.form-callback {
		.modal-content {
			margin: 0;
		}

		.col-md-6:first-child {
			display: none;
		}

		div.col-md-6 {
			p.col-md-12 {
				&:first-child {
					margin-top: 25px;
				}
			}
		}

		.btn-secondary {
			width: 100%;
		}
	}

	.form-one-click {
		.modal-content {
			padding: 0;
		}

		.modal-body {
			padding-bottom: 0;
		}

		.modal-dialog {
			max-width: calc(100% - 30px);
		}

		.row {
			flex-direction: column;

			p.px-3 input {
				margin-top: 35px;
				width: 100%;
			}
		}
	}
}
