img {

    &.alignleft,
    &.alignright {
        max-width: 49%;
    }

    &.alignleft {
        margin: 12px 28px 28px 0;
        float: left;
    }

    &.alignright {
        margin: 12px 0 28px 28px;
        float: right;
    }

    &.aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        max-width: 100%;
    }
}

.iframe-box {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 42.25%;
    max-width: 900px;
    margin: 50px auto;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

/*.quote*/
blockquote {
    position: relative;
    display: flex;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 50px;
    flex-direction: column;
    background: #EDF1F4;
    border-radius: 12px;
    padding: 40px 50px 55px;
    margin: 36px auto 48px;
    &:before {
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        margin: 0 auto 15px;
        background: center no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_159_3639)'%3E%3Cpath d='M8 3.99927H4C2.93913 3.99927 1.92172 4.42069 1.17157 5.17084C0.421427 5.92099 0 6.9384 0 7.99927L0 11.9993C0 12.5297 0.210714 13.0384 0.585786 13.4135C0.960859 13.7886 1.46957 13.9993 2 13.9993H7.91C7.67273 15.3958 6.94948 16.6635 5.86803 17.5785C4.78658 18.4934 3.41655 18.9966 2 18.9993C1.73478 18.9993 1.48043 19.1046 1.29289 19.2922C1.10536 19.4797 1 19.7341 1 19.9993C1 20.2645 1.10536 20.5188 1.29289 20.7064C1.48043 20.8939 1.73478 20.9993 2 20.9993C4.121 20.9969 6.15445 20.1533 7.65422 18.6535C9.154 17.1537 9.99762 15.1203 10 12.9993V5.99927C10 5.46883 9.78929 4.96013 9.41421 4.58505C9.03914 4.20998 8.53043 3.99927 8 3.99927Z' fill='%23AFB4BE'/%3E%3Cpath d='M22 3.99927H18C16.9391 3.99927 15.9217 4.42069 15.1716 5.17084C14.4214 5.92099 14 6.9384 14 7.99927V11.9993C14 12.5297 14.2107 13.0384 14.5858 13.4135C14.9609 13.7886 15.4696 13.9993 16 13.9993H21.91C21.6727 15.3958 20.9495 16.6635 19.868 17.5785C18.7866 18.4934 17.4166 18.9966 16 18.9993C15.7348 18.9993 15.4804 19.1046 15.2929 19.2922C15.1054 19.4797 15 19.7341 15 19.9993C15 20.2645 15.1054 20.5188 15.2929 20.7064C15.4804 20.8939 15.7348 20.9993 16 20.9993C18.121 20.9969 20.1544 20.1533 21.6542 18.6535C23.154 17.1537 23.9976 15.1203 24 12.9993V5.99927C24 5.46883 23.7893 4.96013 23.4142 4.58505C23.0391 4.20998 22.5304 3.99927 22 3.99927Z' fill='%23AFB4BE'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_159_3639'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        word-break: break-word;
    }

    p {
        font-size: 18px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 1024px) {
    .post-item {
        .fancybox {
            width: 100%;
            display: flex;
        }
    }

    img {

        &.alignleft,
        &.alignright,
        &.aligncenter {

            max-width: 100%;
            margin: 0 auto 30px;
        }
    }

    .iframe-box {
        padding-top: 55.25%;
    }

    blockquote {
        margin: 24px 0 36px;
        padding: 20px 20px 28px;

        p {
            margin-bottom: 18px;
        }
    }
}




.attention{
    margin: 36px auto 48px;
    h5 {
        padding-left: 45px;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'%3E%3Cg clip-path='url(%23clip0_159_3646)'%3E%3Cpath d='M15 0C12.0333 0 9.13319 0.879735 6.66645 2.52796C4.19972 4.17618 2.27713 6.51886 1.14181 9.25975C0.00649929 12.0006 -0.290551 15.0166 0.288228 17.9264C0.867006 20.8361 2.29562 23.5088 4.39341 25.6066C6.49119 27.7044 9.16394 29.133 12.0737 29.7118C14.9834 30.2906 17.9994 29.9935 20.7403 28.8582C23.4812 27.7229 25.8238 25.8003 27.4721 23.3336C29.1203 20.8668 30 17.9667 30 15C29.9957 11.0231 28.414 7.21026 25.6019 4.39815C22.7897 1.58604 18.9769 0.00430135 15 0V0ZM15 27.5C12.5277 27.5 10.111 26.7669 8.05538 25.3934C5.99976 24.0199 4.39761 22.0676 3.45151 19.7835C2.50542 17.4995 2.25788 14.9861 2.74019 12.5614C3.22251 10.1366 4.41302 7.90932 6.16117 6.16117C7.90933 4.41301 10.1366 3.2225 12.5614 2.74018C14.9861 2.25787 17.4995 2.50541 19.7836 3.45151C22.0676 4.3976 24.0199 5.99976 25.3934 8.05537C26.7669 10.111 27.5 12.5277 27.5 15C27.4964 18.3141 26.1782 21.4914 23.8348 23.8348C21.4914 26.1782 18.3141 27.4964 15 27.5V27.5Z' fill='%23FFD018'/%3E%3Cpath d='M15 6.25024C14.6685 6.25024 14.3505 6.38194 14.1161 6.61636C13.8817 6.85078 13.75 7.16872 13.75 7.50024V17.5002C13.75 17.8318 13.8817 18.1497 14.1161 18.3841C14.3505 18.6185 14.6685 18.7502 15 18.7502C15.3315 18.7502 15.6495 18.6185 15.8839 18.3841C16.1183 18.1497 16.25 17.8318 16.25 17.5002V7.50024C16.25 7.16872 16.1183 6.85078 15.8839 6.61636C15.6495 6.38194 15.3315 6.25024 15 6.25024Z' fill='%23FFD018'/%3E%3Cpath d='M16.25 22.5003C16.25 21.8099 15.6904 21.2502 15 21.2502C14.3096 21.2502 13.75 21.8099 13.75 22.5003C13.75 23.1906 14.3096 23.7503 15 23.7503C15.6904 23.7503 16.25 23.1906 16.25 22.5003Z' fill='%23FFD018'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_159_3646'%3E%3Crect width='30' height='30' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") left 0/contain no-repeat;
        margin-bottom: 22px;
    }
    p {
        color: #0B305D;
    }
}




/*form validation*/
.wpcf7 form .wpcf7-response-output {
    border-radius: 6px;
    padding: 15px;
    line-height: 1.2;
    font-weight: 600;
    color: #dc3232;
    text-align: center;
}

.wpcf7-spinner {
    position: absolute;
    bottom: 0;
    right: 0;
}

.wpcf7-not-valid-tip {
    color: #dc3232;
    font-size: 0.75em;
    padding: 5px 20px;
    font-weight: 600;
    display: block;
}