
.partner {
    padding: 90px 0;
    background-color: $primary-color;

    .wrapper-partner-slider {
        max-width: 1840px;
        margin-left: auto;
        margin-right: auto;
    }

    .btn {
        margin-left: auto;
        margin-right: auto;
    }
}

.slider-partner.slider-def {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 60px;
    .item-partner-coment {
        margin: 0;
        opacity: 0.5;
        transform: scale(0.8);
        transition: all 0.3s;
    }

    .slick-center {
        opacity: 1;
        transform: scale(1);
    }

    .slick-next {
        right: 5px;
    }

    .slick-prev {
        left: 5px;
    }

    .slick-dots li {
        background: #cbd0da;
    }

    .slick-dots{
        position: static;
        margin-bottom: 65px;
        .slick-active {
            background: $secondary-color;
        }
    } 
    .slick-list {
        margin-bottom: 60px;
    }
}

.item-partner-coment {
    text-align: center;
    background: #fff;
    border-radius: 12px;
    padding: 30px 60px 40px;

    &__img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 12px solid #fff;
        margin: 0px auto 9px;
        background-color: #fff;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    &__name {
        color: #0b305d;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    &__position {
        color: #B1AFBE;
        font-size: 16px;
        margin-bottom: 13px;
    }

    &__coment {
        color: #5C5F65;
        font-size: 18px;
        font-weight: 400;
    }
}
