
	<section class="about" style="background-image: url(./assets/img/bg-ab.jpg)">
		<div class="wrapper">
			<div class="row-custom jcsb">
				<div class="about__text">
					<h2>Дізнайтесь про нас більше!</h2>
					<p>
						Для нас благодійність — це насамперед вміння почути чужий біль. Це
						вміння розділити чужий біль. Це системна боротьба із системними
						проблемами. Це відкритість і, звичайно, націленість на результат.
						Благодійністю я займався завжди.
					</p>
					<p>
						Благодійний фонд «Перша Зірка» пропонує вам долучитися до одного чи
						декількох з існуючих проектів по збору коштів в ім’я Добра або
						стартувати власну благодійну ініціативу у рідному місті чи селі.
						Наша місія — поширювати та підтримувати будь-які прояви людяності
					</p>
					<div class="row-custom row-btn">
						<a href="about-page.html" class="btn btn-primary">
							<i class="icon-svg icon-book"></i>
							<span>Детально про фонд</span>
						</a>
						<a href="projects-category.html" class="btn btn-secondary">
							<i class="icon-svg icon-interrogation"></i>
							<span>Як я можу допомогти</span>
						</a>
					</div>
				</div>
				<div class="about__items">
					<div class="item-about">
						<img src="./assets/img/fi-rr-hand-holding-heart.svg" alt="" />

						<div class="item-about__text">
							<div class="item-about__title">Легко та безпечно долучитися</div>
							<div class="item-about__descr">
								Даємо можливість прийняти участь у благодійних проектах з
								будь-якого куточку світу
							</div>
						</div>
					</div>
					<div class="item-about">
						<img src="./assets/img/fi-rr-shield-check.svg" alt="" />

						<div class="item-about__text">
							<div class="item-about__title">
								Прозорість та відповідальність
							</div>
							<div class="item-about__descr">
								Публікуємо докладні звіти про розподіл зібраних коштів для усіх
								благодійних проектів
							</div>
						</div>
					</div>
					<div class="item-about">
						<img src="./assets/img/fi-rr-comment-heart.svg" alt="" />

						<div class="item-about__text">
							<div class="item-about__title">
								Створіть власну благодійну ініціативу!
							</div>
							<div class="item-about__descr">
								Допомагаємо вам стартувати власну благодійну кампанію та
								створити власну мережу добра
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row-custom jcsb row-custom-info">
				<div class="about__info">
					<div class="about__info-title">12 450 000</div>
					<p>гривень зібрано за час існування нашого фонду</p>
				</div>
				<div class="about__info">
					<div class="about__info-title">527</div>
					<p>
						небайдужих людей з усіх областей України долучилися до збору коштів
					</p>
				</div>
				<div class="about__info">
					<div class="about__info-title">35</div>
					<p>благодійних ініціатив успішно проведені за участі нашого фонду</p>
				</div>
				<div class="about__info">
					<div class="about__info-title">0</div>
					<p>проектів добігли завершення без надання детальної звітності</p>
				</div>
			</div>
		</div>
	</section>