<div class="accordion-container">
    <div class="wrapper">
        <div class="accordion-title">Як ми працюємо</div>
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        Як я можу зробити грошовий внесок для певного проекту?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        Котивсь зеленими царинками, маленький і білий, наче банька кульбаби, безстрашно забирався у темний ліс, де гаджуги кивали над ним галузками, як ведмідь лабами. Звідси дивився на гори, близькі й далекі верхи, що голубіли на небі, на смерекові чорні ліси з їх синім диханням, на ясну зелень царинок, що, мов дзеркала, блищали в рамах дерев. Під ним, в долині, кипів холодний Черемош. По далеких горбах дрімали на сонці самотні оселі. Були так тихо і сумно, чорні смереки безперестанку спускали сум свій в Черемош, а він ніс його долом й оповідав. Вище, по безводних далеких недеях, нявки розводять свої безконечні танки, а по скелях ховається щезник.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        Де я можу прочитати звіти щодо завершених проектів?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                        Котивсь зеленими царинками, маленький і білий, наче банька кульбаби, безстрашно забирався у темний ліс, де гаджуги кивали над ним галузками, як ведмідь лабами. Звідси дивився на гори, близькі й далекі верхи, що голубіли на небі, на смерекові чорні ліси з їх синім диханням, на ясну зелень царинок, що, мов дзеркала, блищали в рамах дерев. Під ним, в долині, кипів холодний Черемош. По далеких горбах дрімали на сонці самотні оселі. Були так тихо і сумно, чорні смереки безперестанку спускали сум свій в Черемош, а він ніс його долом й оповідав. Вище, по безводних далеких недеях, нявки розводять свої безконечні танки, а по скелях ховається щезник.
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    Чим відрізняються акції та проекти фонду?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                    Котивсь зеленими царинками, маленький і білий, наче банька кульбаби, безстрашно забирався у темний ліс, де гаджуги кивали над ним галузками, як ведмідь лабами. Звідси дивився на гори, близькі й далекі верхи, що голубіли на небі, на смерекові чорні ліси з їх синім диханням, на ясну зелень царинок, що, мов дзеркала, блищали в рамах дерев. Під ним, в долині, кипів холодний Черемош. По далеких горбах дрімали на сонці самотні оселі. Були так тихо і сумно, чорні смереки безперестанку спускали сум свій в Черемош, а він ніс його долом й оповідав. Вище, по безводних далеких недеях, нявки розводять свої безконечні танки, а по скелях ховається щезник.
                </div>
            </div>
        </div>
    </div>
</div>
