<div class="documents">
    <div class="document-item">
        <div class="document-item__title">Лист на розміщення проекту</div><button type="button" class="btn btn-success">Завантажити</button>
    </div>
    <div class="document-item">
        <div class="document-item__title">Звіт про перебіг проекту</div><button type="button" class="btn btn-success">Завантажити</button>
    </div>
    <div class="document-item">
        <div class="document-item__title">Прес-реліз проекту</div><button type="button" class="btn btn-success">Завантажити</button>
    </div>
</div>