
<footer class="footer">
 
	<div class="wrapper">
		<div class="row-custom jcsb">
			<div class="footer__col">
				<div class="footer__title">Зробити добро</div>
				<div class="footer__menu">
					<ul>
						<li><a href="projects-category.html">Проекти</a></li>
						<li><a href="actions.html">Акції</a></li>
						<li><a href="projects-category.html">Тривалі проекти</a></li>
						<li><a href="projects-category.html">Завершені проекти</a></li>
						<li><a href="#" data-bs-toggle="modal" data-bs-target="#formRequest">Заявка на проект</a></li>
					</ul>
				</div>
				
			</div>
			<div class="footer__col">
				<div class="footer__title">Про наш фонд</div>
				<div class="footer__menu">
					<ul>
						<li><a href="about-page.html">Про нас</a></li>
						<li><a href="template-page.html">Наші партнери</a></li>
						<li><a href="reviews.html">Відгуки</a></li>
						<li><a href="contacts.html">Контакти</a></li>
					</ul>
				</div>
				
			</div>
			<div class="footer__col">
				<div class="footer__title">Інформація</div>
				<div class="footer__menu">
					<ul>
						<li><a href="news.html">Новини сайту</a></li>
						<li><a href="template-page.html">Політика конфіденціальності</a></li>
						<li><a href="template-page.html">Публічна оферта</a></li>
						<li><a href="template-page.html">Установчі документи фонду</a></li>
						<li><a href="faq.html">Питання та відповіді (FAQ)</a></li>
					</ul>
				</div>
				
			</div> 
			<div class="footer__col">
				<div class="footer__title">Контактна інформація</div>
				<div class="footer__info">
					<ul class="footer__phones">
						<li>
							<a href="tel:+380 (55) 958-66-09">+380 (55) 958-66-09</a>
							<a href="viber://chat?number=%2B380559586609">
								<img src="assets/img/viber.svg" alt="" />
							</a>
							<a href="https://telegram.me/voryag905">
								<img src="assets/img/telegram.svg" alt="" />
							</a>
						</li>
						<li>
							<a href="tel:+380 (55) 958-66-09">+380 (55) 958-66-09</a>
						</li>
						<li>
							<a href="tel:+380 (67) 658-14-44">+380 (67) 658-14-44</a>
						</li>
					</ul>
					<a href="mailto:info@pershazirka.ua" class="email">
						info@pershazirka.ua
					</a>
					<ul class="soc-icons">
						<li><a href="#"><i class="icon-svg icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-svg icon-insta"></i></a></li>
						<li><a href="#"><i class="icon-svg icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-svg icon-youtube"></i></a></li>
					</ul>
				</div>
				
			</div>
		</div>
	</div>
   	<div class="footer__copy">© 2022 – 2024 Благодійний фонд «Перша Зірка»</div>
</footer>
	@@include('modals.html')
	<script	src="assets/js/library.min.js"></script>
	<script src="assets/js/custom.js"></script>
</body>
</html>