<section class="news-home">
    <div class="wrapper">
        <h2 class="title-icon">
            <i class="icon-svg icon-title"></i>
            <span>Новини центру</span>
        </h2>
        <div class="slider-project slider-def slider-def-three-el">
            <div class="item-project item-project--news">
                <a href="project-item.html" class="item-project__img">
                    <img src="./assets/img/proj-item-10.png" alt="" />
                </a>
                <div class="item-project__info-wrap">
                    <div class="item-project__views">
                        <span>2 години тому</span>
                        <span><i class="icon-svg icon-eye"></i> 312 </span>
                    </div>
                    <div class="item-project__title">
                        <a href="project-item.html">Мешканці тимчасово окупованих міст Київщини повертаються додому</a>
                    </div>
                    <p class="item-project__descr">
                        Майже місяць триває війна і мужній спротив українського народу. Це
                        час, який показав, що наша воля, наша любов до свободи та
                    </p>
                </div>
            </div>
            <div class="item-project item-project--news">
                <a href="project-item.html" class="item-project__img">
                    <img src="./assets/img/proj-item-11.png" alt="" />
                </a>
                <div class="item-project__info-wrap">
                    <div class="item-project__views">
                        <span>2 години тому</span>
                        <span><i class="icon-svg icon-eye"></i> 312 </span>
                    </div>
                    <div class="item-project__title">
                        <a href="project-item.html">Посівна в Україні триває — вистоїмо самі та врятуємо світ від голоду</a>
                    </div>
                    <p class="item-project__descr">
                        Майже місяць триває війна і мужній спротив українського народу. Це
                        час, який показав, що наша воля, наша любов до свободи та
                    </p>
                </div>
            </div>
            <div class="item-project item-project--news">
                <a href="project-item.html" class="item-project__img">
                    <img src="./assets/img/proj-item-12.png" alt="" />
                </a>
                <div class="item-project__info-wrap">
                    <div class="item-project__views">
                        <span>2 години тому</span>
                        <span><i class="icon-svg icon-eye"></i> 312 </span>
                    </div>
                    <div class="item-project__title">
                        <a href="project-item.html">Долаємо наслідки війни разом з волонтерами Вінницького центру</a>
                    </div>
                    <p class="item-project__descr">
                        Майже місяць триває війна і мужній спротив українського народу. Це
                        час, який показав, що наша воля, наша любов до свободи та
                    </p>
                </div>
            </div>
            <div class="item-project item-project--news">
                <a href="project-item.html" class="item-project__img">
                    <img src="./assets/img/proj-item-4.png" alt="" />
                </a>
                <div class="item-project__info-wrap">
                    <div class="item-project__views">
                        <span>2 години тому</span>
                        <span><i class="icon-svg icon-eye"></i> 312 </span>
                    </div>
                    <div class="item-project__title">
                        <a href="project-item.html">Збір коштів на прихисток для біжинців на Вінничині</a>
                    </div>
                    <p class="item-project__descr">
                        Майже місяць триває війна і мужній спротив українського народу. Це
                        час, який показав, що наша воля, наша любов до свободи та
                    </p>
                </div>
            </div>
        </div>
        <a href="project-item.html" class="btn btn-success">
            <i class="icon-svg icon-subtitles"></i>
            <span>Усі новини</span>
        </a>
    </div>
</section>