<section class="our-values">
    <h2 class="title-icon">
        <span>Наші цінності</span>
    </h2>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="value-item">
                <div class="icon-svg icon-openness"></div>
                <h6>Відкритість</h6>
                <p>Даємо можливість прийняти участь у благодійних проектах з будь-якого куточку світу</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="value-item">
                <div class="icon-svg icon-reliability"></div>
                <h6>Надійність</h6>
                <p>Спрямовуємо кошти виключно на ті проекти та ініціативи, які ми ретельно перевірили</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="value-item">
                <div class="icon-svg icon-transparency "></div>
                <h6>Прозорість</h6>
                <p>Публікуємо докладні звіти про розподіл зібраних коштів для усіх благодійних проектів </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="value-item">
                <div class="icon-svg icon-security"></div>
                <h6>Безпека</h6>
                <p>Захищаємо персональні дані усіх небайдужих людей, що долучилися до будь-яких наших проектів</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="value-item">
                <div class="icon-svg icon-development"></div>
                <h6>Розвиток</h6>
                <p>Постійно розширюємо географію наших проектів та долучаємо нових волонтерів у регіонах</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="value-item">
                <div class="icon-svg icon-initiative"></div>
                <h6>Ініціативність</h6>
                <p>Допомагаємо вам стартувати власну благодійну кампанію та створити власну мережу добра</p>
            </div>
        </div>
    </div>
</section>
