<section class="partner">
    <div class="wrapper">
        <h2 class="title-icon">
            <i class="icon-svg icon-messages"></i>

            <span>Слово нашим партнерам</span>
        </h2>
        <p class="title-descr">
            Створіть свою кампанію зі збору коштів на підтримку одного із сотень
            проектів на dobro.ua. Запропонуйте друзям її підтримати і результат не
            змусить на себе чекати
        </p>
    </div>
    <div class="wrapper-partner-slider">
        <div class="slider-partner slider-def">
            <div class="item-partner-coment">
                <div class="item-partner-coment__img">
                    <img src="./assets/img/partner.png" alt="" />
                </div>
                <div class="item-partner-coment__name">Костантин Хливнюк</div>
                <div class="item-partner-coment__position">директор Watson’s</div>
                <p class="item-partner-coment__coment">
                    Робота з фондом «Перша Зірка» була однією з ключових напрямків
                    соціальної відповідальності нашого бренду. За період нашої співпраці
                    вдалося зібрати більше 78 тис.грн., і такий результат говорить сам
                    за себе. Нам імпонують не лише цілі фонду, який має на меті допомогу
                    та розвиток молодого покоління, але й підхід до організації роботи:
                    креативна реалізація активностей, активне залучення волонтерів та
                    інтерактивність в спілкуванні з аудиторією.
                </p>
            </div>
            <div class="item-partner-coment">
                <div class="item-partner-coment__img">
                    <img src="./assets/img/partner.png" alt="" />
                </div>
                <div class="item-partner-coment__name">Костантин Хливнюк</div>
                <div class="item-partner-coment__position">директор Watson’s</div>
                <p class="item-partner-coment__coment">
                    Робота з фондом «Перша Зірка» була однією з ключових напрямків
                    соціальної відповідальності нашого бренду. За період нашої співпраці
                    вдалося зібрати більше 78 тис.грн., і такий результат говорить сам
                    за себе. Нам імпонують не лише цілі фонду, який має на меті допомогу
                    та розвиток молодого покоління, але й підхід до організації роботи:
                    креативна реалізація активностей, активне залучення волонтерів та
                    інтерактивність в спілкуванні з аудиторією.
                </p>
            </div>
            <div class="item-partner-coment">
                <div class="item-partner-coment__img">
                    <img src="./assets/img/partner.png" alt="" />
                </div>
                <div class="item-partner-coment__name">Костантин Хливнюк</div>
                <div class="item-partner-coment__position">директор Watson’s</div>
                <p class="item-partner-coment__coment">
                    Робота з фондом «Перша Зірка» була однією з ключових напрямків
                    соціальної відповідальності нашого бренду. За період нашої співпраці
                    вдалося зібрати більше 78 тис.грн., і такий результат говорить сам
                    за себе. Нам імпонують не лише цілі фонду, який має на меті допомогу
                    та розвиток молодого покоління, але й підхід до організації роботи:
                    креативна реалізація активностей, активне залучення волонтерів та
                    інтерактивність в спілкуванні з аудиторією.
                </p>
            </div>
            <div class="item-partner-coment">
                <div class="item-partner-coment__img">
                    <img src="./assets/img/partner.png" alt="" />
                </div>
                <div class="item-partner-coment__name">Костантин Хливнюк</div>
                <div class="item-partner-coment__position">директор Watson’s</div>
                <p class="item-partner-coment__coment">
                    Робота з фондом «Перша Зірка» була однією з ключових напрямків
                    соціальної відповідальності нашого бренду. За період нашої співпраці
                    вдалося зібрати більше 78 тис.грн., і такий результат говорить сам
                    за себе. Нам імпонують не лише цілі фонду, який має на меті допомогу
                    та розвиток молодого покоління, але й підхід до організації роботи:
                    креативна реалізація активностей, активне залучення волонтерів та
                    інтерактивність в спілкуванні з аудиторією.
                </p>
            </div>
        </div>
    </div>
    <a href="reviews.html" class="btn btn-success">
        <i class="icon-svg icon-check-mes"></i>
        <span>Більше відгуків</span>
    </a>
</section>