<form class="projects-filters people-filters">
    <div class="wrapper">
        <div class="row">
           
            <div class="col-lg-4">
                <div class="projects-filters__select-box">
                    <div class="select-title">Стать:</div>
                    <select id="genderSelect" class="select">
                        <option value="male">Чоловiча</option>
                        <option value="female">Жіноча</option>
                        <option value="all">Всi</option>
                    </select>
                    <div class="icon-wrap">
                        <i class="icon-svg icon-question"></i>
                        <div class="note">
                            Напешiть вік особи яку хочете знайти 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="projects-filters__select-box">
                    <div class="select-title">Iм'я</div>
                    <div class="input-wrap">
                        <input type="text" id="nameFilter" placeholder=" Введіть ім'я особи " />
                        <div class="icon-wrap">
                            <i class="icon-svg icon-question"></i>
                            <div class="note">
                                Напешiть ім'я особи яку хочете знайти 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="projects-filters__select-box">
                    <div class="select-title">Вік</div>
                    <div class="input-wrap">
                        <input type="number" id="ageFilter" placeholder=" Введіть вік особи " />
                        <div class="icon-wrap">
                            <i class="icon-svg icon-question"></i>
                            <div class="note">
                                Напешiть вік особи яку хочете знайти 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <input class="btn btn-filters-clean" type="reset" value="Очистити фільтри"></input>
    </div>
</form>
