<form class="projects-filters people-filters">
    <div class="wrapper">
        <div class="row">

            <div class="col-lg-4">
                <div class="projects-filters__select-box">
                    <div class="select-title">Стать:</div>
                    <div class="input-wrap">
                        <div class="btn-box">
                            <input type="radio" id="all" name="genderFilter" value="all" checked="">
                            <label for="all">Всi</label>
                        </div>
                        <div class="btn-box">
                            <input type="radio" id="genderFilterMale" name="genderFilter" value="male">
                            <label for="genderFilterMale">Чоловiки</label>
                        </div>
                        <div class="btn-box">
                            <input type="radio" id="genderFilterFemale" name="genderFilter" value="female">
                            <label for="genderFilterFemale">Жiнки</label>
                        </div>

                    </div>
                    <div class="icon-wrap">
                        <i class="icon-svg icon-question"></i>
                        <div class="note">
                            Оберiть стать людини
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="projects-filters__select-box">
                    <div class="select-title">Iм'я</div>
                    <div class="input-wrap">
                        <input type="text" id="nameFilter" placeholder=" Введіть ім'я особи " />
                        <div class="icon-wrap">
                            <i class="icon-svg icon-question"></i>
                            <div class="note">
                                Напешiть ім'я особи яку хочете знайти
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="projects-filters__select-box">
                    <div class="select-title">Вік до<div id="ageFilter-value"></div>рокiв</div>
                    <div class="input-wrap">
                        <input type="range" id="ageFilter" class="range-slider" min="1" max="100" value="50" />
                        <div class="icon-wrap">
                            <i class="icon-svg icon-question"></i>
                            <div class="note">
                                Оберiть вік особи яку хочете знайти
                            </div>
                        </div>
                        <div class="range-diapason">
                            <div id="min-value"></div>
                            <div id="max-value"></div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <input class="btn btn-filters-clean" type="reset" value="Очистити фільтри"></input>
    </div>
</form>
