<section class="project-slider">
    <div class="wrapper">
        <h2 class="title-icon">
            <i class="icon-svg icon-hand"></i>
            <span>Благодійні проекти</span>
        </h2>
        <p class="title-descr">
            «Перша Зірка» не лише збирає кошти на ті чи інші потреби. Ми об’єднуємо
            самих різних людей заради спільної мети. Разом ми збережемо мир и
            спасемо світ!
        </p>
        <div class="slider-project slider-def slider-def-three-el">
            <div class="item-project">
                <a href="project-item.html" class="item-project__img">
                    <img src="./assets/img/proj-item-1.png" alt="" />
                </a>
                <div class="item-project__info-wrap">
                    <div class="item-project__title">
                        <a href="project-item.html">Збір коштів на прихисток для біжинців на Вінничині</a>
                        <div class="progress">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" height="60" width="60" data-value="55">
                                <circle class="bg" cx="30" cy="30" r="25" fill="none" stroke="#EDF1F4" stroke-miterlimit="10" />
                                <circle class="meter" cx="30" cy="30" r="25" fill="none" stroke="#FFD018" stroke-dashoffset="157" stroke-dasharray="157" stroke-miterlimit="10" />
                            </svg>
                        </div>
                    </div>
                    <div class="item-project__wrap-sum">
                        <div class="item-project__wrap-sum-from">
                            <span>Мета:</span>
                            <span>850 000 грн</span>
                        </div>
                        <div class="item-project__wrap-sum-to">
                            <span>Зібрано:</span>
                            <b>0 грн</b>
                        </div>
                    </div>
                    <div class="item-project__date">
                        <span>0 долучилися</span>
                        <span>Серпень – вересень 2022</span>
                    </div>
                </div>
            </div>
            <div class="item-project">
                <a href="project-item.html" class="item-project__img">
                    <img src="./assets/img/proj-item-2.png" alt="" />
                </a>
                <div class="item-project__info-wrap">
                    <div class="item-project__title">
                        <a href="project-item.html">Допомога захисникам та захисницям України</a>
                        <div class="progress">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" height="60" width="60" data-value="44">
                                <circle class="bg" cx="30" cy="30" r="25" fill="none" stroke="#EDF1F4" stroke-miterlimit="10" />
                                <circle class="meter" cx="30" cy="30" r="25" fill="none" stroke="#FFD018" stroke-dashoffset="157" stroke-dasharray="157" stroke-miterlimit="10" />
                            </svg>
                        </div>
                    </div>
                    <div class="item-project__wrap-sum">
                        <div class="item-project__wrap-sum-from">
                            <span>Мета:</span>
                            <span>1 980 000 грн</span>
                        </div>
                        <div class="item-project__wrap-sum-to">
                            <span>Зібрано:</span>
                            <b>1 485 000 грн</b>
                        </div>
                    </div>
                    <div class="item-project__date">
                        <span>0 долучилися</span>
                        <span class="item-project__date-now">Триває зараз</span>
                    </div>
                </div>
            </div>
            <div class="item-project">
                <a href="project-item.html" class="item-project__img">
                    <img src="./assets/img/proj-item-3.png" alt="" />
                </a>
                <div class="item-project__info-wrap">
                    <div class="item-project__title">
                        <a href="project-item.html">Збір коштів на прихисток для біжинців на Вінничині</a>
                        <div class="progress">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" height="60" width="60" data-value="25">
                                <circle class="bg" cx="30" cy="30" r="25" fill="none" stroke="#EDF1F4" stroke-miterlimit="10" />
                                <circle class="meter" cx="30" cy="30" r="25" fill="none" stroke="#FFD018" stroke-dashoffset="157" stroke-dasharray="157" stroke-miterlimit="10" />
                            </svg>
                        </div>
                    </div>
                    <div class="item-project__wrap-sum">
                        <div class="item-project__wrap-sum-from">
                            <span>Мета:</span>
                            <span>850 000 грн</span>
                        </div>
                        <div class="item-project__wrap-sum-to">
                            <span>Зібрано:</span>
                            <b>0 грн</b>
                        </div>
                    </div>
                    <div class="item-project__date">
                        <span>0 долучилися</span>
                        <span>Серпень – вересень 2022</span>
                    </div>
                </div>
            </div>
            <div class="item-project">
                <a href="project-item.html" class="item-project__img">
                    <img src="./assets/img/proj-item-4.png" alt="" />
                </a>
                <div class="item-project__info-wrap">
                    <div class="item-project__title">
                        <a href="project-item.html">Допомога захисникам та захисницям України</a>
                        <div class="progress">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" height="60" width="60" data-value="100">
                                <circle class="bg" cx="30" cy="30" r="25" fill="none" stroke="#EDF1F4" stroke-miterlimit="10" />
                                <circle class="meter" cx="30" cy="30" r="25" fill="none" stroke="#FFD018" stroke-dashoffset="157" stroke-dasharray="157" stroke-miterlimit="10" />
                            </svg>
                        </div>
                    </div>
                    <div class="item-project__wrap-sum">
                        <div class="item-project__wrap-sum-from">
                            <span>Мета:</span>
                            <span>1 980 000 грн</span>
                        </div>
                        <div class="item-project__wrap-sum-to">
                            <span>Зібрано:</span>
                            <b>1 485 000 грн</b>
                        </div>
                    </div>
                    <div class="item-project__date">
                        <span>0 долучилися</span>
                        <span class="item-project__date-now">Триває зараз</span>
                    </div>
                </div>
            </div>
        </div>
        <a href="projects-category.html" class="btn btn-primary">
            <i class="icon-svg icon-search-heart"></i>
            <span>Показати більше проектів</span>
        </a>
    </div>
</section>