<div class="project-info">
    <div class="wrapper">
        <div class="project-info__img">
            <img src="assets/img/project-item-img.png" class="img-fluid" alt="project-item-img">
        </div>
        <div class="project-info__options">
            <div class="project-info__options-top">
                <span class="item-project__date-now">Триває зараз</span>
                <!-- <span class="item-project__date-last">Завершено</span> -->
                <div class="project-info__options-status">
                    <span class="project-duration"> 24 серпня – 17 вересня 2022</span>
                </div>
            </div>
            <div class="project-info__options-title">
                <h1>Збір коштів на прихисток для переселенців у Вінницькій області</h1>
                <div class="progress">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" height="60" width="60" data-value="75">
                        <circle class="bg" cx="30" cy="30" r="25" fill="none" stroke="#fff" stroke-miterlimit="10" />
                        <circle class="meter" cx="30" cy="30" r="25" fill="none" stroke="#FFD018" stroke-dashoffset="157" stroke-dasharray="157" stroke-miterlimit="10" />
                    </svg>
                </div>
            </div>
            <div class="item-project__wrap-sum">
                <div class="item-project__wrap-sum-from">
                    <span>Мета:</span>
                    <span>850 000 грн</span>
                </div>
                <div class="item-project__wrap-sum-to">
                    <span>Зібрано:</span>
                    <b>0 грн</b>
                </div>
                <div class="item-project__wrap-joined">
                    <span>Долучилося:</span>
                    <b>1560 людей</b>
                </div>
            </div>
            <button class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="icon-svg icon-plus"></i>
                <span>Зробити внесок</span>
            </button>
        </div>
    </div>
</div>
