<form class="projects-filters">
    <div class="wrapper">
        <div class="row">
            <div class="col-lg-3">
                <div class="projects-filters__select-box">
                    <div class="select-title">Статус проекта</div>
                    <select class="select">
                        <option value="1">Триває зараз</option>
                        <option value="2">Майбутні</option>
                        <option value="3">Завершенi</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="projects-filters__select-box">
                    <div class="select-title">Регіон</div>
                    <select class="select">
                        <option value="1">Вінниця</option>
                        <option value="2">Гайсин</option>
                        <option value="3">Жмеринка</option>
                        <option value="3">Могилёв-Подольский</option>
                        <option value="3">Тульчин</option>
                        <option value="3">Хмельник</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="projects-filters__select-box">
                    <div class="select-title">Сума</div>
                    <select class="select">
                        <option value="1">50 000 – 100 000 грн</option>
                        <option value="2">30 000 – 50 000 грн</option>
                        <option value="3">20 000 – 30 000 грн</option>
                        <option value="3">10 000 – 20 000 грн</option>
                        <option value="3">5 000 – 10 000 грн</option>
                        <option value="3">До 5 000 грн</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="projects-filters__select-box">
                    <div class="select-title">Відсортувати</div>
                    <select class="select">
                        <option value="1">За налаштуванням</option>
                        <option value="2">30 000 – 50 000 грн</option>
                        <option value="3">20 000 – 30 000 грн</option>
                        <option value="3">10 000 – 20 000 грн</option>
                        <option value="3">5 000 – 10 000 грн</option>
                        <option value="3">До 5 000 грн</option>
                    </select>
                </div>
            </div>
        </div>
        <button class="btn btn-filters-clean">Очистити фільтри</button>
    </div>
</form>
