<section class="subscribe">
    <img src="./assets/img/sub-bg.png" alt="" />
    <div class="subscribe__content">
        <div class="wrapper">
            <div class="title-icon">Підпишіться на нашу розсилку</div>
            <p class="title-descr">
                Хочете першими дізнаватися про події та акції, до яких долучаються
                волонтери нашого фонду? Введіть свій імейл та будьте в курсі усіх
                подій. Тримаймося разом!
            </p>
            <div class="form-subscribe">
                <form action="">
                    <input type="email" placeholder="Ваш Email" />
                    <button class="btn btn-primary">Підписатися</button>
                </form>
            </div>
        </div>
    </div>
</section>