.wp-pagenavi {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto 84px;
    a {
        text-decoration: none;
        margin: 0 15px;
    }

    .first,
    .previouspostslink,
    .nextpostslink,
    .last {
        width: 42px;
        min-width: 42px;
        height: 42px;
        background: #FFFFFF;
        box-shadow: 0px 0px 6px #0b305d33;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;

        &:hover {
            box-shadow: 0px 0px 6px #0b305d66;
            background-color: $secondary-color;
        }
    }

    .first {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M10.6329 15.4444C10.4791 15.4438 10.3289 15.3976 10.2014 15.3116C10.0738 15.2256 9.97465 15.1037 9.91637 14.9613C9.8581 14.819 9.84334 14.6625 9.87398 14.5118C9.90461 14.361 9.97925 14.2228 10.0885 14.1144L13.6663 10.5522C13.7392 10.4799 13.797 10.3939 13.8365 10.2991C13.876 10.2043 13.8963 10.1027 13.8963 9.99999C13.8963 9.89732 13.876 9.79566 13.8365 9.70088C13.797 9.6061 13.7392 9.52008 13.6663 9.44777L10.0885 5.88555C10.0156 5.81324 9.95771 5.72722 9.91822 5.63244C9.87874 5.53766 9.85841 5.436 9.85841 5.33333C9.85841 5.23065 9.87874 5.12899 9.91822 5.03421C9.95771 4.93943 10.0156 4.85341 10.0885 4.7811C10.2342 4.63624 10.4313 4.55493 10.6368 4.55493C10.8423 4.55493 11.0394 4.63624 11.1851 4.7811L14.7551 8.3511C15.1921 8.78861 15.4375 9.38166 15.4375 9.99999C15.4375 10.6183 15.1921 11.2114 14.7551 11.6489L11.1851 15.2189C11.1125 15.291 11.0263 15.348 10.9315 15.3867C10.8367 15.4254 10.7353 15.445 10.6329 15.4444Z' fill='%233943bc'/%3E%3Cpath d='M5.18858 15.4444C5.03476 15.4438 4.88458 15.3976 4.75704 15.3116C4.62949 15.2256 4.53031 15.1037 4.47204 14.9613C4.41376 14.819 4.39901 14.6625 4.42964 14.5118C4.46027 14.361 4.53492 14.2228 4.64414 14.1144L8.75858 9.99999L4.64414 5.88555C4.57124 5.81324 4.51337 5.72722 4.47389 5.63244C4.4344 5.53766 4.41407 5.436 4.41407 5.33333C4.41407 5.23065 4.4344 5.12899 4.47389 5.03421C4.51337 4.93943 4.57124 4.85341 4.64414 4.7811C4.78986 4.63624 4.98699 4.55493 5.19247 4.55493C5.39795 4.55493 5.59508 4.63624 5.7408 4.7811L10.4075 9.44777C10.4804 9.52008 10.5382 9.6061 10.5777 9.70088C10.6172 9.79566 10.6375 9.89732 10.6375 9.99999C10.6375 10.1027 10.6172 10.2043 10.5777 10.2991C10.5382 10.3939 10.4804 10.4799 10.4075 10.5522L5.7408 15.2189C5.66813 15.291 5.58194 15.348 5.48717 15.3867C5.39241 15.4254 5.29094 15.445 5.18858 15.4444Z' fill='%233943bc'/%3E%3C/svg%3E");
        transform: rotate(180deg);
    }

    .last {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M10.6329 15.4444C10.4791 15.4438 10.3289 15.3976 10.2014 15.3116C10.0738 15.2256 9.97465 15.1037 9.91637 14.9613C9.8581 14.819 9.84334 14.6625 9.87398 14.5118C9.90461 14.361 9.97925 14.2228 10.0885 14.1144L13.6663 10.5522C13.7392 10.4799 13.797 10.3939 13.8365 10.2991C13.876 10.2043 13.8963 10.1027 13.8963 9.99999C13.8963 9.89732 13.876 9.79566 13.8365 9.70088C13.797 9.6061 13.7392 9.52008 13.6663 9.44777L10.0885 5.88555C10.0156 5.81324 9.95771 5.72722 9.91822 5.63244C9.87874 5.53766 9.85841 5.436 9.85841 5.33333C9.85841 5.23065 9.87874 5.12899 9.91822 5.03421C9.95771 4.93943 10.0156 4.85341 10.0885 4.7811C10.2342 4.63624 10.4313 4.55493 10.6368 4.55493C10.8423 4.55493 11.0394 4.63624 11.1851 4.7811L14.7551 8.3511C15.1921 8.78861 15.4375 9.38166 15.4375 9.99999C15.4375 10.6183 15.1921 11.2114 14.7551 11.6489L11.1851 15.2189C11.1125 15.291 11.0263 15.348 10.9315 15.3867C10.8367 15.4254 10.7353 15.445 10.6329 15.4444Z' fill='%233943bc'/%3E%3Cpath d='M5.18858 15.4444C5.03476 15.4438 4.88458 15.3976 4.75704 15.3116C4.62949 15.2256 4.53031 15.1037 4.47204 14.9613C4.41376 14.819 4.39901 14.6625 4.42964 14.5118C4.46027 14.361 4.53492 14.2228 4.64414 14.1144L8.75858 9.99999L4.64414 5.88555C4.57124 5.81324 4.51337 5.72722 4.47389 5.63244C4.4344 5.53766 4.41407 5.436 4.41407 5.33333C4.41407 5.23065 4.4344 5.12899 4.47389 5.03421C4.51337 4.93943 4.57124 4.85341 4.64414 4.7811C4.78986 4.63624 4.98699 4.55493 5.19247 4.55493C5.39795 4.55493 5.59508 4.63624 5.7408 4.7811L10.4075 9.44777C10.4804 9.52008 10.5382 9.6061 10.5777 9.70088C10.6172 9.79566 10.6375 9.89732 10.6375 9.99999C10.6375 10.1027 10.6172 10.2043 10.5777 10.2991C10.5382 10.3939 10.4804 10.4799 10.4075 10.5522L5.7408 15.2189C5.66813 15.291 5.58194 15.348 5.48717 15.3867C5.39241 15.4254 5.29094 15.445 5.18858 15.4444Z' fill='%233943bc'/%3E%3C/svg%3E");
    }

    .previouspostslink {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='12' viewBox='0 0 7 12' fill='none'%3E%3Cpath d='M5.42212 4.3511L1.85212 0.781104C1.7064 0.636242 1.50927 0.554932 1.30379 0.554932C1.09831 0.554932 0.901182 0.636242 0.755456 0.781104C0.682556 0.853408 0.624694 0.939431 0.585207 1.03421C0.545721 1.12899 0.525391 1.23065 0.525391 1.33333C0.525391 1.436 0.545721 1.53766 0.585207 1.63244C0.624694 1.72722 0.682556 1.81324 0.755456 1.88555L4.33323 5.44777C4.40613 5.52008 4.464 5.6061 4.50348 5.70088C4.54297 5.79566 4.5633 5.89732 4.5633 5.99999C4.5633 6.10267 4.54297 6.20433 4.50348 6.29911C4.464 6.39389 4.40613 6.47991 4.33323 6.55222L0.755456 10.1144C0.608998 10.2599 0.526308 10.4575 0.525579 10.6639C0.52485 10.8703 0.606141 11.0685 0.751568 11.215C0.896995 11.3615 1.09465 11.4441 1.30104 11.4449C1.50743 11.4456 1.70567 11.3643 1.85212 11.2189L5.42212 7.64888C5.85908 7.21138 6.10452 6.61833 6.10452 5.99999C6.10452 5.38166 5.85908 4.78861 5.42212 4.3511V4.3511Z' fill='%233943bc'/%3E%3C/svg%3E");
        transform: rotate(180deg);
    }

    .nextpostslink {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='12' viewBox='0 0 7 12' fill='none'%3E%3Cpath d='M5.42212 4.3511L1.85212 0.781104C1.7064 0.636242 1.50927 0.554932 1.30379 0.554932C1.09831 0.554932 0.901182 0.636242 0.755456 0.781104C0.682556 0.853408 0.624694 0.939431 0.585207 1.03421C0.545721 1.12899 0.525391 1.23065 0.525391 1.33333C0.525391 1.436 0.545721 1.53766 0.585207 1.63244C0.624694 1.72722 0.682556 1.81324 0.755456 1.88555L4.33323 5.44777C4.40613 5.52008 4.464 5.6061 4.50348 5.70088C4.54297 5.79566 4.5633 5.89732 4.5633 5.99999C4.5633 6.10267 4.54297 6.20433 4.50348 6.29911C4.464 6.39389 4.40613 6.47991 4.33323 6.55222L0.755456 10.1144C0.608998 10.2599 0.526308 10.4575 0.525579 10.6639C0.52485 10.8703 0.606141 11.0685 0.751568 11.215C0.896995 11.3615 1.09465 11.4441 1.30104 11.4449C1.50743 11.4456 1.70567 11.3643 1.85212 11.2189L5.42212 7.64888C5.85908 7.21138 6.10452 6.61833 6.10452 5.99999C6.10452 5.38166 5.85908 4.78861 5.42212 4.3511V4.3511Z' fill='%233943bc'/%3E%3C/svg%3E");
    }

    .current {
        color: #0B305D;
        margin: 0 15px;
        cursor: default;
    }

    .extend {
        color: #B1AFBE;
        cursor: default;
    }
}



@media screen and (max-width: 575px) {
    .wp-pagenavi {
        a {
            text-decoration: none;
            margin: 0 5px;
        }

        .first,
        .previouspostslink,
        .nextpostslink,
        .last {
            width: 35px;
            min-width: 35px;
            height: 35px;

        }
    }
}

/* === END wp_pagenavi === */
