
.about {
    padding: 150px 0px 100px;
    background-size: cover;
    background-position: center;

    &__items {
        >div {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__info {
        max-width: 315px;

        &-title {
            font-weight: 600;
            font-size: 42px;
            color: #5864F9;
            margin-bottom: 9px;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            color: #afb4be;
        }
    }

    .row-custom-info {
        padding-top: 70px;
        margin-top: 70px;
        border-top: 2px solid #3c597d;
    }

    .row-btn {
        margin-top: 40px;

        .btn:last-child {
            margin-left: 30px;
        }
    }

    &__text {
        max-width: 660px;

        h2 {
            color: #ffffff;
            margin-bottom: 30px;
        }

        p {
            color: #afb4be;
        }
    }

    &__items {
        max-width: 545px;
    }
}


.item-about {
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 6px 12px rgba(11, 48, 93, 0.15);
    border-radius: 12px;
    display: flex;

    img {
        margin-right: 30px;
        width: 54px;
        height: 54px;
        object-fit: contain;
    }

    &__title {
        color: #0b305d;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 12px;
        line-height: 1.33;
    }

    &__descr {
        color: #626874;
        font-size: 16px;
        line-height: 1.5;
    }
}


