.block-black {
    padding: 267px 12px 180px;
    background-size: cover;
    background-position: center;
    
    h2 {
        font-weight: 500;
        font-size: 44px;
        line-height: 1.23;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 29px;
        font-family: $font-secondary;
    }

    &__text {
        text-align: center;
        max-width: 856px;
        margin: 0 auto;  
    }

    p {
        font-size: 20px;
        color: #CBD0DA;
        line-height: 1.5;
        padding: 0 15px;
    }

    .btn {
        margin: 46px auto 0;
    }
}
