.home {
	.seo-text {
		margin-bottom: 100px;
	}	
}
.seo-text {
   
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #0b305d;
    }

    .scroll {
        max-height: 200px;
        padding-right: 10px;
    }
}