.slick-dots {
    bottom: 30px;

    li {
        border-radius: 50%;
        background:#AFB4BE;
        margin: 0px 15px;
        font-size: 0;
        width: 12px;
        height: 12px;
        transition: all 0.3s;

        button {
            font-size: 0;

            &:before {
                display: none;
            }
        }

        &:hover {
            background: $secondary-color-hover;
        }
    }

    .slick-active {
        background: $secondary-color;
        transform: scale(1.3);
    }
}
.item-project {
    border-radius: 24px;
    overflow: hidden;

    &--news {}

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #0b305d;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;

        svg {
            width: 60px;
            height: 60px;
            stroke-width: 6;
            stroke: $secondary-color;
            fill: none;
            transform-origin: center;
            transform: rotate(-90deg);
        }

        a {
            text-decoration: none;
            color: #0b305d;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -moz-box;
            -moz-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            line-clamp: 2;
            box-orient: vertical;

            &:hover {
                color: #5864F9;
            }
        }
    }

    &__img {
        width: 100%;
        height: 264px;
        position: relative;
        display: block;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:before {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 42px;
            height: 42px;
            background-position: center;
            background-size: contain;
            background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_183_6034)'%3E%3Cpath d='M40.7242 16.483C38.01 12.0625 31.836 4.646 21 4.646C10.164 4.646 3.98997 12.0625 1.27572 16.483C0.436642 17.8401 -0.0078125 19.4042 -0.0078125 20.9997C-0.0078125 22.5953 0.436642 24.1594 1.27572 25.5165C3.98997 29.937 10.164 37.3535 21 37.3535C31.836 37.3535 38.01 29.937 40.7242 25.5165C41.5633 24.1594 42.0077 22.5953 42.0077 20.9997C42.0077 19.4042 41.5633 17.8401 40.7242 16.483ZM37.7405 23.6842C35.4095 27.4747 30.1332 33.8535 21 33.8535C11.8667 33.8535 6.59047 27.4747 4.25947 23.6842C3.76095 22.8776 3.49691 21.948 3.49691 20.9997C3.49691 20.0515 3.76095 19.1219 4.25947 18.3152C6.59047 14.5247 11.8667 8.146 21 8.146C30.1332 8.146 35.4095 14.5177 37.7405 18.3152C38.239 19.1219 38.503 20.0515 38.503 20.9997C38.503 21.948 38.239 22.8776 37.7405 23.6842Z' fill='white'/%3E%3Cpath d='M21 12.2498C19.2694 12.2498 17.5777 12.7629 16.1388 13.7244C14.6998 14.6859 13.5783 16.0524 12.9161 17.6513C12.2538 19.2501 12.0805 21.0095 12.4181 22.7068C12.7558 24.4041 13.5891 25.9632 14.8128 27.1869C16.0365 28.4107 17.5956 29.244 19.293 29.5816C20.9903 29.9193 22.7496 29.746 24.3485 29.0837C25.9473 28.4214 27.3139 27.2999 28.2754 25.861C29.2368 24.4221 29.75 22.7303 29.75 20.9998C29.7472 18.68 28.8245 16.456 27.1841 14.8156C25.5438 13.1753 23.3198 12.2525 21 12.2498ZM21 26.2498C19.9617 26.2498 18.9466 25.9418 18.0833 25.365C17.2199 24.7881 16.547 23.9682 16.1496 23.0088C15.7523 22.0495 15.6483 20.9939 15.8509 19.9755C16.0535 18.9571 16.5535 18.0217 17.2877 17.2874C18.0219 16.5532 18.9574 16.0532 19.9758 15.8506C20.9942 15.6481 22.0498 15.752 23.0091 16.1494C23.9684 16.5467 24.7883 17.2197 25.3652 18.083C25.9421 18.9464 26.25 19.9614 26.25 20.9998C26.25 22.3921 25.6969 23.7275 24.7123 24.7121C23.7277 25.6966 22.3924 26.2498 21 26.2498Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_183_6034'%3E%3Crect width='42' height='42' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            opacity: 0;
            transition: all 0.2s;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: linear-gradient(0deg,
                    rgba(0, 91, 187, 0.5),
                    rgba(0, 91, 187, 0.5));
            opacity: 0;
            transition: all 0.2s;
        }

        &:hover {
            &::after {
                opacity: 1;
            }

            &:before {
                opacity: 1;
            }
        }
    }

    &__info-wrap {
        padding: 30px;
        background-color: #fff;
    }

    &__wrap-sum {
        box-shadow: 0px 0px 18px rgba(11, 48, 93, 0.2);
        border-radius: 12px;
        background-color: #fff;
        display: flex;
        align-items: center;
        margin: 25px 0px;

        >div {
            width: 50%;
            padding: 10px 20px;

            &:last-child {
                border-left: 2px solid #edf1f4;
            }

            span {
                display: block;

                &:first-child {
                    color: #afb4be;
                    font-size: 14px;
                    font-weight: 600;
                }

                &:last-child {
                    color: #626874;

                    font-size: 18px;
                    font-weight: 400;
                }
            }

            b {
                color: #0b305d;
                font-size: 18px;
                font-weight: 600;
            }
        }
    }

    &__date {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-top: auto;
        
        span {
            &:first-child {
                font-weight: 600;
                font-size: 16px;

                color: #626874;
            }

            &:last-child {
                font-size: 14px;
            }
        }

        &-now {
            color: #16bb58;
        }

        &-last {
            color: #F86487;
        }

        .action-link {
            width: 21px;
            height: 18px;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='18' viewBox='0 0 21 18' fill='none'%3E%3Cpath d='M21 9.0001C20.9927 8.21094 20.6747 7.45644 20.115 6.9001L13.68 0.450105C13.399 0.170729 13.0188 0.013916 12.6225 0.013916C12.2262 0.013916 11.846 0.170729 11.565 0.450105C11.4244 0.589549 11.3128 0.755451 11.2367 0.938239C11.1605 1.12103 11.1213 1.31709 11.1213 1.5151C11.1213 1.71312 11.1605 1.90918 11.2367 2.09197C11.3128 2.27476 11.4244 2.44066 11.565 2.5801L16.5 7.5001H1.5C1.10218 7.5001 0.720645 7.65813 0.43934 7.93944C0.158036 8.22074 0 8.60227 0 9.0001C0 9.39792 0.158036 9.77945 0.43934 10.0608C0.720645 10.3421 1.10218 10.5001 1.5 10.5001H16.5L11.565 15.4351C11.2825 15.7156 11.1231 16.0967 11.1217 16.4948C11.1203 16.8928 11.277 17.2751 11.5575 17.5576C11.838 17.84 12.2192 17.9995 12.6172 18.0009C13.0152 18.0023 13.3975 17.8456 13.68 17.5651L20.115 11.1151C20.6784 10.5551 20.9967 9.79446 21 9.0001Z' fill='%23005BBB'/%3E%3C/svg%3E");
            &:hover{
                opacity: .7;
            }
        }
    }

    &__views {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 19px;
        color: #AFB4BE;

        span {
            display: flex;
            align-items: center;

            i {
                margin-right: 10px;
            }
        }
        .start-acton,
        .end-acton {
            color: #626874;
            span {
                color: #AFB4BE;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cg clip-path='url(%23clip0_163_4912)'%3E%3Cpath d='M10.5 9.75C10.5012 10.0136 10.4329 10.2728 10.302 10.5016C10.1711 10.7304 9.98225 10.9207 9.75442 11.0533C9.52659 11.1858 9.26785 11.256 9.00426 11.2568C8.74067 11.2575 8.48154 11.1888 8.25296 11.0575C8.02439 10.9262 7.83444 10.737 7.70226 10.509C7.57008 10.2809 7.50032 10.0221 7.50002 9.75849C7.49972 9.4949 7.56889 9.23588 7.70055 9.00753C7.83222 8.77918 8.02173 8.58955 8.25 8.45775V5.25C8.25 5.05109 8.32902 4.86032 8.46967 4.71967C8.61033 4.57902 8.80109 4.5 9 4.5C9.19892 4.5 9.38968 4.57902 9.53033 4.71967C9.67099 4.86032 9.75 5.05109 9.75 5.25V8.45775C9.97734 8.58848 10.1663 8.77669 10.2979 9.0035C10.4296 9.23032 10.4993 9.48776 10.5 9.75V9.75ZM15.045 4.15425C16.1378 5.33084 16.8634 6.80075 17.1329 8.38372C17.4025 9.9667 17.2042 11.5939 16.5624 13.0659C15.9207 14.5378 14.8633 15.7905 13.5199 16.6702C12.1766 17.55 10.6058 18.0186 9 18.0186C7.39424 18.0186 5.82338 17.55 4.48006 16.6702C3.13674 15.7905 2.07936 14.5378 1.43758 13.0659C0.795799 11.5939 0.597522 9.9667 0.867064 8.38372C1.13661 6.80075 1.86225 5.33084 2.955 4.15425L2.451 3.594C2.14564 3.70149 1.82371 3.7543 1.5 3.75C1.30109 3.75 1.11033 3.67098 0.969674 3.53033C0.829022 3.38968 0.750005 3.19891 0.750005 3C0.750005 2.80109 0.829022 2.61032 0.969674 2.46967C1.11033 2.32902 1.30109 2.25 1.5 2.25C2.08875 2.25 2.25 2.08875 2.25 1.5C2.25 1.30109 2.32902 1.11032 2.46967 0.96967C2.61033 0.829018 2.80109 0.75 3 0.75C3.19892 0.75 3.38968 0.829018 3.53033 0.96967C3.67099 1.11032 3.75 1.30109 3.75 1.5C3.75437 1.86497 3.68286 2.22687 3.54 2.56275L4.0695 3.15075C5.28608 2.23521 6.73373 1.67682 8.25 1.53825V0.75C8.25 0.551088 8.32902 0.360322 8.46967 0.21967C8.61033 0.0790177 8.80109 0 9 0C9.19892 0 9.38968 0.0790177 9.53033 0.21967C9.67099 0.360322 9.75 0.551088 9.75 0.75V1.53825C11.2662 1.6766 12.7138 2.23472 13.9305 3.15L14.46 2.562C14.3172 2.22635 14.2457 1.86472 14.25 1.5C14.25 1.30109 14.329 1.11032 14.4697 0.96967C14.6103 0.829018 14.8011 0.75 15 0.75C15.1989 0.75 15.3897 0.829018 15.5303 0.96967C15.671 1.11032 15.75 1.30109 15.75 1.5C15.75 2.08875 15.9113 2.25 16.5 2.25C16.6989 2.25 16.8897 2.32902 17.0303 2.46967C17.171 2.61032 17.25 2.80109 17.25 3C17.25 3.19891 17.171 3.38968 17.0303 3.53033C16.8897 3.67098 16.6989 3.75 16.5 3.75C16.1763 3.7543 15.8544 3.70149 15.549 3.594L15.045 4.15425ZM15.75 9.75C15.75 8.41498 15.3541 7.10993 14.6124 5.9999C13.8707 4.88987 12.8165 4.02471 11.5831 3.51381C10.3497 3.00292 8.99252 2.86925 7.68314 3.1297C6.37377 3.39015 5.17104 4.03303 4.22703 4.97703C3.28303 5.92103 2.64015 7.12377 2.3797 8.43314C2.11925 9.74251 2.25293 11.0997 2.76382 12.3331C3.27471 13.5665 4.13987 14.6207 5.24991 15.3624C6.35994 16.1041 7.66498 16.5 9 16.5C10.7896 16.498 12.5053 15.7862 13.7708 14.5208C15.0362 13.2553 15.748 11.5396 15.75 9.75V9.75Z' fill='%23FFD018'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_163_4912'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
                background-repeat: no-repeat;
                padding-left: 28px;
            }
            
        }
        .end-acton {
            span {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cg clip-path='url(%23clip0_163_4918)'%3E%3Cpath d='M15 3H11.25C11.25 2.20435 10.9339 1.44129 10.3713 0.87868C9.80871 0.316071 9.04565 0 8.25 0L3 0C2.20435 0 1.44129 0.316071 0.87868 0.87868C0.316071 1.44129 0 2.20435 0 3L0 17.25C0 17.4489 0.0790176 17.6397 0.21967 17.7803C0.360322 17.921 0.551088 18 0.75 18C0.948912 18 1.13968 17.921 1.28033 17.7803C1.42098 17.6397 1.5 17.4489 1.5 17.25V9.75H7.5C7.5 10.5456 7.81607 11.3087 8.37868 11.8713C8.94129 12.4339 9.70435 12.75 10.5 12.75H15C15.7956 12.75 16.5587 12.4339 17.1213 11.8713C17.6839 11.3087 18 10.5456 18 9.75V6C18 5.20435 17.6839 4.44129 17.1213 3.87868C16.5587 3.31607 15.7956 3 15 3ZM1.5 8.25V3C1.5 2.60218 1.65804 2.22064 1.93934 1.93934C2.22064 1.65804 2.60218 1.5 3 1.5H8.25C8.64782 1.5 9.02936 1.65804 9.31066 1.93934C9.59196 2.22064 9.75 2.60218 9.75 3V6.75C9.75 7.14782 9.59196 7.52936 9.31066 7.81066C9.02936 8.09196 8.64782 8.25 8.25 8.25H1.5ZM16.5 9.75C16.5 10.1478 16.342 10.5294 16.0607 10.8107C15.7794 11.092 15.3978 11.25 15 11.25H10.5C10.1022 11.25 9.72064 11.092 9.43934 10.8107C9.15804 10.5294 9 10.1478 9 9.75V9.6435C9.64211 9.47771 10.2112 9.10384 10.6183 8.58032C11.0254 8.05681 11.2475 7.41316 11.25 6.75V4.5H15C15.3978 4.5 15.7794 4.65804 16.0607 4.93934C16.342 5.22064 16.5 5.60218 16.5 6V9.75Z' fill='%23FFD018'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_163_4918'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
            }
        }
    }

    &__descr {
        font-size: 16px;
        line-height: 24px;
        margin-top: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -moz-box;
        -moz-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-clamp: 3;
        box-orient: vertical;
    }
}

.slider-def {

    .slick-prev,
    .slick-next {
        width: 54px;
        height: 54px;
        background: #ffffff;
        box-shadow: 0px 0px 6px rgba(11, 48, 93, 0.2);
        border-radius: 50%;
        background-size: 10px;
        background-position: center;
        background-repeat: no-repeat;
        transition: all 0.2s;

        &::before {
            display: none;
        }

        &:hover {
            background-color: #ffdc55;
            box-shadow: 0px 0px 6px rgba(11, 48, 93, 0.2);
        }
    }

    .slick-prev {
        left: -9px;
        background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.59989 7.71006C2.50616 7.6171 2.43177 7.5065 2.381 7.38464C2.33023 7.26278 2.30409 7.13207 2.30409 7.00006C2.30409 6.86805 2.33023 6.73734 2.381 6.61548C2.43177 6.49362 2.50616 6.38302 2.59989 6.29006L7.18989 1.71006C7.28362 1.6171 7.35801 1.5065 7.40878 1.38464C7.45955 1.26278 7.48569 1.13207 7.48569 1.00006C7.48569 0.868048 7.45955 0.737343 7.40878 0.615483C7.35801 0.493624 7.28362 0.383023 7.18989 0.29006C7.00253 0.103809 6.74908 -0.000732422 6.48489 -0.000732422C6.2207 -0.000732422 5.96725 0.103809 5.77989 0.29006L1.18989 4.88006C0.628088 5.44256 0.312531 6.20506 0.312531 7.00006C0.312531 7.79506 0.628088 8.55756 1.18989 9.12006L5.77989 13.7101C5.96615 13.8948 6.21755 13.999 6.47989 14.0001C6.6115 14.0008 6.74196 13.9756 6.8638 13.9258C6.98564 13.8761 7.09645 13.8027 7.18989 13.7101C7.28362 13.6171 7.35801 13.5065 7.40878 13.3846C7.45955 13.2628 7.48569 13.1321 7.48569 13.0001C7.48569 12.868 7.45955 12.7373 7.40878 12.6155C7.35801 12.4936 7.28362 12.383 7.18989 12.2901L2.59989 7.71006Z' fill='%233943bc'/%3E%3C/svg%3E%0A");
    }

    .slick-next {
        right: -9px;
        background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.3998 4.88006L1.8098 0.29006C1.62244 0.103809 1.36899 -0.000732422 1.1048 -0.000732422C0.840616 -0.000732422 0.587165 0.103809 0.399802 0.29006C0.306074 0.383023 0.23168 0.493624 0.180911 0.615483C0.130142 0.737343 0.104004 0.868048 0.104004 1.00006C0.104004 1.13207 0.130142 1.26278 0.180911 1.38464C0.23168 1.5065 0.306074 1.6171 0.399802 1.71006L4.9998 6.29006C5.09353 6.38302 5.16793 6.49362 5.21869 6.61548C5.26946 6.73734 5.2956 6.86805 5.2956 7.00006C5.2956 7.13207 5.26946 7.26278 5.21869 7.38464C5.16793 7.5065 5.09353 7.6171 4.9998 7.71006L0.399802 12.2901C0.211499 12.477 0.105184 12.7312 0.104246 12.9965C0.103308 13.2619 0.207825 13.5168 0.394803 13.7051C0.581781 13.8934 0.835903 13.9997 1.10127 14.0006C1.36663 14.0016 1.6215 13.897 1.8098 13.7101L6.3998 9.12006C6.96161 8.55756 7.27716 7.79506 7.27716 7.00006C7.27716 6.20506 6.96161 5.44256 6.3998 4.88006Z' fill='%233943bc'/%3E%3C/svg%3E%0A");
    }
}

.slider-def-three-el {
    .item-project {
        margin: 0px 15px;
    }

    .slider-project {
        margin: 0px -15px;
    }
}

.project-slider {
    padding-top: 70px;
    padding-bottom: 115px;

    .btn {
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
    }
}
