.slick-dots {
    bottom: 30px;

    li {
        border-radius: 50%;
        background: #CBD0DA;
        margin: 0px 15px;
        font-size: 0;
        width: 12px;
        height: 12px;
        transition: all 0.3s;

        button {
            font-size: 0;

            &:before {
                display: none;
            }
        }

        &:hover {
            background: $secondary-color-hover;
        }
    }

    .slick-active {
        background: $secondary-color;
        transform: scale(1.3);
    }
}

.item-project {
    border-radius: 12px;
    overflow: hidden;
    background-color: #fff;

    &__title {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        color: $primary-color;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;

        svg {
            width: 60px;
            height: 60px;
            stroke-width: 6;
            stroke: $secondary-color;
            fill: none;
            transform-origin: center;
            transform: rotate(-90deg);
        }

        a {
            font-weight: 500;
            font-size: 20px;
            text-decoration: none;
            color: $black;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -moz-box;
            -moz-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            line-clamp: 2;
            box-orient: vertical;
            font-family: $font-secondary;

            &:hover {
                color: #5864F9;
            }
        }
    }

    &__img {
        width: 100%;
        height: 264px;
        position: relative;
        display: block;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:before {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 42px;
            height: 42px;
            background-position: center;
            background-size: contain;
            background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_183_6034)'%3E%3Cpath d='M40.7242 16.483C38.01 12.0625 31.836 4.646 21 4.646C10.164 4.646 3.98997 12.0625 1.27572 16.483C0.436642 17.8401 -0.0078125 19.4042 -0.0078125 20.9997C-0.0078125 22.5953 0.436642 24.1594 1.27572 25.5165C3.98997 29.937 10.164 37.3535 21 37.3535C31.836 37.3535 38.01 29.937 40.7242 25.5165C41.5633 24.1594 42.0077 22.5953 42.0077 20.9997C42.0077 19.4042 41.5633 17.8401 40.7242 16.483ZM37.7405 23.6842C35.4095 27.4747 30.1332 33.8535 21 33.8535C11.8667 33.8535 6.59047 27.4747 4.25947 23.6842C3.76095 22.8776 3.49691 21.948 3.49691 20.9997C3.49691 20.0515 3.76095 19.1219 4.25947 18.3152C6.59047 14.5247 11.8667 8.146 21 8.146C30.1332 8.146 35.4095 14.5177 37.7405 18.3152C38.239 19.1219 38.503 20.0515 38.503 20.9997C38.503 21.948 38.239 22.8776 37.7405 23.6842Z' fill='white'/%3E%3Cpath d='M21 12.2498C19.2694 12.2498 17.5777 12.7629 16.1388 13.7244C14.6998 14.6859 13.5783 16.0524 12.9161 17.6513C12.2538 19.2501 12.0805 21.0095 12.4181 22.7068C12.7558 24.4041 13.5891 25.9632 14.8128 27.1869C16.0365 28.4107 17.5956 29.244 19.293 29.5816C20.9903 29.9193 22.7496 29.746 24.3485 29.0837C25.9473 28.4214 27.3139 27.2999 28.2754 25.861C29.2368 24.4221 29.75 22.7303 29.75 20.9998C29.7472 18.68 28.8245 16.456 27.1841 14.8156C25.5438 13.1753 23.3198 12.2525 21 12.2498ZM21 26.2498C19.9617 26.2498 18.9466 25.9418 18.0833 25.365C17.2199 24.7881 16.547 23.9682 16.1496 23.0088C15.7523 22.0495 15.6483 20.9939 15.8509 19.9755C16.0535 18.9571 16.5535 18.0217 17.2877 17.2874C18.0219 16.5532 18.9574 16.0532 19.9758 15.8506C20.9942 15.6481 22.0498 15.752 23.0091 16.1494C23.9684 16.5467 24.7883 17.2197 25.3652 18.083C25.9421 18.9464 26.25 19.9614 26.25 20.9998C26.25 22.3921 25.6969 23.7275 24.7123 24.7121C23.7277 25.6966 22.3924 26.2498 21 26.2498Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_183_6034'%3E%3Crect width='42' height='42' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            opacity: 0;
            transition: all 0.2s;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: linear-gradient(0deg,
                    rgba(0, 91, 187, 0.5),
                    rgba(0, 91, 187, 0.5));
            opacity: 0;
            transition: all 0.2s;
        }

        &:hover {
            &::after {
                opacity: 1;
            }

            &:before {
                opacity: 1;
            }
        }
    }

    &__info-wrap {
        padding: 30px;
        background-color: #fff;
    }

    &__wrap-sum {
        border-radius: 6px;
        background-color: #F5F2EA;
        display: flex;
        align-items: center;
        margin: 24px 0px;

        >div {
            width: 50%;
            padding: 15px 20px;

            &:last-child {
                border-left: 2px solid #ffffff;
            }

            span {
                display: block;

                &:first-child {
                    color: #171D32;
                    font-size: 14px;
                    font-weight: 600;
                    text-align: center;
                    color: #171D32;
                    font-size: 14px;
                    line-height: 24px;
                    font-weight: 500;
                }

                &:last-child {
                    color: #5C5F65;
                    font-size: 18px;
                    line-height: 30px;
                    font-weight: 400;
                    text-align: center;
                }
            }

            b {
                color: $primary-color;
                font-size: 18px;
                font-weight: 600;
                font-family: $font-secondary;
                display: block;
                text-align: center;
            }
        }
    }

    &__date {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-top: auto;

        span {
            &:first-child {
                font-size: 16px;
                font-weight: 500;
                color: #5C5F65;
            }

            &:last-child {
                font-size: 14px;
                color: #171D32;
            }
        }

        &-now {
            color: #16bb58 !important;
        }

        &-last {
            color: #F86487;
        }

        .action-link {
            width: 32px;
            height: 32px;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 34 34' fill='none'%3E%3Cpath d='M12.5 17C12.5 17.8284 11.8284 18.5 11 18.5C10.1716 18.5 9.5 17.8284 9.5 17C9.5 16.1716 10.1716 15.5 11 15.5C11.8284 15.5 12.5 16.1716 12.5 17Z' fill='%233943BC'/%3E%3Cpath d='M18.5 17C18.5 17.8284 17.8284 18.5 17 18.5C16.1716 18.5 15.5 17.8284 15.5 17C15.5 16.1716 16.1716 15.5 17 15.5C17.8284 15.5 18.5 16.1716 18.5 17Z' fill='%233943BC'/%3E%3Cpath d='M23 18.5C23.8284 18.5 24.5 17.8284 24.5 17C24.5 16.1716 23.8284 15.5 23 15.5C22.1716 15.5 21.5 16.1716 21.5 17C21.5 17.8284 22.1716 18.5 23 18.5Z' fill='%233943BC'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17 0.875C8.09441 0.875 0.875 8.09441 0.875 17C0.875 25.9056 8.09441 33.125 17 33.125C25.9056 33.125 33.125 25.9056 33.125 17C33.125 8.09441 25.9056 0.875 17 0.875ZM3.125 17C3.125 9.33705 9.33705 3.125 17 3.125C24.663 3.125 30.875 9.33705 30.875 17C30.875 24.663 24.663 30.875 17 30.875C9.33705 30.875 3.125 24.663 3.125 17Z' fill='%233943BC'/%3E%3C/svg%3E");

            &:hover {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 34 34' fill='none'%3E%3Cpath d='M12.5 17C12.5 17.8284 11.8284 18.5 11 18.5C10.1716 18.5 9.5 17.8284 9.5 17C9.5 16.1716 10.1716 15.5 11 15.5C11.8284 15.5 12.5 16.1716 12.5 17Z' fill='%23FFD600'/%3E%3Cpath d='M18.5 17C18.5 17.8284 17.8284 18.5 17 18.5C16.1716 18.5 15.5 17.8284 15.5 17C15.5 16.1716 16.1716 15.5 17 15.5C17.8284 15.5 18.5 16.1716 18.5 17Z' fill='%23FFD600'/%3E%3Cpath d='M23 18.5C23.8284 18.5 24.5 17.8284 24.5 17C24.5 16.1716 23.8284 15.5 23 15.5C22.1716 15.5 21.5 16.1716 21.5 17C21.5 17.8284 22.1716 18.5 23 18.5Z' fill='%23FFD600'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17 0.875C8.09441 0.875 0.875 8.09441 0.875 17C0.875 25.9056 8.09441 33.125 17 33.125C25.9056 33.125 33.125 25.9056 33.125 17C33.125 8.09441 25.9056 0.875 17 0.875ZM3.125 17C3.125 9.33705 9.33705 3.125 17 3.125C24.663 3.125 30.875 9.33705 30.875 17C30.875 24.663 24.663 30.875 17 30.875C9.33705 30.875 3.125 24.663 3.125 17Z' fill='%23FFD600'/%3E%3C/svg%3E");
            }
        }
    }

    &__views {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 19px;
        color: #171D32;

        span {
            display: flex;
            align-items: center;

            i {
                margin-right: 10px;
            }
        }

        .start-acton,
        .end-acton {
            color: #626874;

            span {
                color: #171D32;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='18' viewBox='0 0 16 18' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.9375 1.5C5.9375 1.18934 6.18934 0.9375 6.5 0.9375H9.5C9.81066 0.9375 10.0625 1.18934 10.0625 1.5C10.0625 1.81066 9.81066 2.0625 9.5 2.0625H6.5C6.18934 2.0625 5.9375 1.81066 5.9375 1.5ZM8 3.5625C4.58274 3.5625 1.8125 6.33274 1.8125 9.75C1.8125 13.1673 4.58274 15.9375 8 15.9375C11.4173 15.9375 14.1875 13.1673 14.1875 9.75C14.1875 6.33274 11.4173 3.5625 8 3.5625ZM0.6875 9.75C0.6875 5.71142 3.96142 2.4375 8 2.4375C12.0386 2.4375 15.3125 5.71142 15.3125 9.75C15.3125 13.7886 12.0386 17.0625 8 17.0625C3.96142 17.0625 0.6875 13.7886 0.6875 9.75ZM8 6.1875C8.31066 6.1875 8.5625 6.43934 8.5625 6.75V9.75C8.5625 10.0607 8.31066 10.3125 8 10.3125C7.68934 10.3125 7.4375 10.0607 7.4375 9.75V6.75C7.4375 6.43934 7.68934 6.1875 8 6.1875Z' fill='%233943BC'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                padding-left: 28px;
            }

        }

        .end-acton {
            span {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='18' viewBox='0 0 12 18' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.75 0.9375C1.06066 0.9375 1.3125 1.18934 1.3125 1.5V2.31386L2.49269 2.07782C3.83758 1.80884 5.23167 1.93684 6.50511 2.44621L6.65783 2.5073C7.71892 2.93174 8.88677 3.011 9.99547 2.73382C10.9184 2.50308 11.8125 3.20115 11.8125 4.15251V9.67778C11.8125 10.4191 11.308 11.0653 10.5888 11.2451L10.4279 11.2853C8.98603 11.6458 7.46724 11.5427 6.08729 10.9907C5.01649 10.5624 3.84422 10.4548 2.71332 10.681L1.3125 10.9611V16.5C1.3125 16.8107 1.06066 17.0625 0.75 17.0625C0.43934 17.0625 0.1875 16.8107 0.1875 16.5V1.5C0.1875 1.18934 0.43934 0.9375 0.75 0.9375ZM1.3125 9.81386L2.49269 9.57782C3.83758 9.30884 5.23167 9.43684 6.50511 9.94621C7.66548 10.4104 8.94261 10.497 10.1551 10.1939L10.3159 10.1537C10.5343 10.0991 10.6875 9.90289 10.6875 9.67778V4.15251C10.6875 3.93304 10.4812 3.772 10.2683 3.82523C8.9302 4.15976 7.52068 4.0641 6.24002 3.55184L6.08729 3.49075C5.01648 3.06242 3.84422 2.9548 2.71332 3.18098L1.3125 3.46114V9.81386Z' fill='%233943BC'/%3E%3C/svg%3E");
            }
        }
    }

    &__descr {
        font-size: 16px;
        line-height: 24px;
        margin-top: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -moz-box;
        -moz-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-clamp: 3;
        box-orient: vertical;
    }
}

.slider-def {

    .slick-prev,
    .slick-next {
        width: 54px;
        height: 54px;
        background: #ffffff;
        box-shadow: 0px 0px 6px rgba(11, 48, 93, 0.2);
        border-radius: 50%;
        background-size: 18px;
        background-position: center;
        background-repeat: no-repeat;
        transition: all 0.2s;
        top: 45%;

        &::before {
            display: none;
        }

        &:hover {
            background-color: #ffdc55;
            box-shadow: 0px 0px 6px rgba(11, 48, 93, 0.2);
        }
    }

    .slick-prev {
        left: -9px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='14' viewBox='0 0 18 14' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.53033 0.46967C7.82322 0.762563 7.82322 1.23744 7.53033 1.53033L2.81066 6.25H17C17.4142 6.25 17.75 6.58579 17.75 7C17.75 7.41421 17.4142 7.75 17 7.75H2.81066L7.53033 12.4697C7.82322 12.7626 7.82322 13.2374 7.53033 13.5303C7.23744 13.8232 6.76256 13.8232 6.46967 13.5303L0.46967 7.53033C0.176777 7.23744 0.176777 6.76256 0.46967 6.46967L6.46967 0.46967C6.76256 0.176777 7.23744 0.176777 7.53033 0.46967Z' fill='%233943BC'/%3E%3C/svg%3E");
    }

    .slick-next {
        right: -9px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='14' viewBox='0 0 18 14' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.4697 0.46967C10.7626 0.176777 11.2374 0.176777 11.5303 0.46967L17.5303 6.46967C17.8232 6.76256 17.8232 7.23744 17.5303 7.53033L11.5303 13.5303C11.2374 13.8232 10.7626 13.8232 10.4697 13.5303C10.1768 13.2374 10.1768 12.7626 10.4697 12.4697L15.1893 7.75H1C0.585786 7.75 0.25 7.41421 0.25 7C0.25 6.58579 0.585786 6.25 1 6.25H15.1893L10.4697 1.53033C10.1768 1.23744 10.1768 0.762563 10.4697 0.46967Z' fill='%233943BC'/%3E%3C/svg%3E");
    }
}

.slider-def-three-el {
    .item-project {
        margin: 0px 15px;
    }

    .slider-project {
        margin: 0px -15px;
    }
}

.project-slider {
    padding-top: 70px;
    padding-bottom: 115px;

    .btn {
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
    }
}
