.subscribe {
    background: url(assets/img/subscribe-left.svg)  bottom left / 30% no-repeat,
                url(assets/img/subscribe-right.svg) bottom right / 30% no-repeat,
                url(assets/img/custom-decorate.svg) calc(100% - 60px) center no-repeat repeat,
                url(assets/img/custom-decorate.svg) 60px center no-repeat repeat $primary-color;
    >img {
        width: 100%;
        height: auto;
    }

    &__content {
 
        padding: 97px 0px 114px;
    }

    .title-icon {
        color: #fff;
    }

    .title-descr {
        color: #B1AFBE;
    }
}
