/* === BEGIN FONTS === */

@font-face {
    font-family: 'KyivTypeSerif';
    src: url('./assets/fonts/KyivTypeSerif-VarGX.ttf') format('opentype');
    font-weight: 500; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('./assets/fonts/Rubik-Regular.ttf') format('opentype');
    font-weight: normal; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('./assets/fonts/Rubik-Medium.ttf') format('opentype');
    font-weight: 500; 
    font-style: normal;
    font-display: swap;
}

/* === END FONTS === */