@media screen and (max-width: 575px) {
    .img-grid__row {
        min-width: 100%;
        flex-direction: column;
    }
    .img-grid {
        .img-grid__img {
            width: 100%;
            margin: 0 0 24px 0;
        }
    }
}
